[2021-05-10 06:42] zxl777 opened #1 "Looking forward to the 10-day and 30-day power consumption curve of CR2032."
Looking forward to the 10-day and 30-day power consumption curve of CR2032.
There is still a gap between theoretical estimates and actual conditions.

[2021-05-10 19:05] rbaron commented on #1
Hi @zxl777,

I pulled all the real battery data I have here, which covers a period of a little less than 45 days. A few disclaimers:
* I use **5 minutes** intervals between broadcasts, so I would expect an upper limit of [~260 days](https://docs.google.com/spreadsheets/d/157JQiX20bGkTrlbvWbWRrs_WViL3MgVZffSCWRR7uAI/edit#gid=0) of runtime (instead of the estimated 480 days for 10 minutes intervals)

[2021-05-12 15:22] AlexSzlavik opened #2 "Moisture readings overflow"
I haven't dug into this myself yet, but noticed this morning that one of my plants moisture reading "overflowed". When looking at the code, I saw that moisture readings are actually fit to a polynomial and the final values from the equation. Haven't done any debugging yet, so probably not much to go on, but opening the issue as something is clearly miss-behaving. Will follow up as I get time.
I'm

[2021-05-12 16:38] rbaron commented on #2
Hi @AlexSzlavik,

It's super cool that you made some boards yourself!

The overflow issue should have been fixed in [this commit](https://github.com/rbaron/b-parasite/commit/f0b3294f0f77db032b2625e03c2066ef8001ea5c). The bug was multiplying the percentage by 2 << 16 instead of (2 << 16) - 1, so it could overflow an `uint16_t`. Do you know if you're running a version that has that commit?

About th

[2021-05-13 01:25] AlexSzlavik commented on #2
Fantastic response, thank you!
Sorry about posting without the patch, I was too excited when I finally put it together that I forgot to pull the latest 🤦 . Will run latest and check again.

As for the upward trend, I suspect you are onto something with capillarity effect. When I pulled the sensor out it was noticeably "wet". That is, far more wet than I'd have expected on this particular plant. I'

[2021-05-13 07:01] rbaron commented on #2
The board looks super cool in black! Thanks for the photos.

I've also seen this surprising moisture accumulation around the sensor and that got me thinking about this effect.

Those bubbles I haven't seen, but I think it's one more reason for us to use a layer of conformal coating. I've tried to recalibrate the sensor after applying the spray and I found the difference to be negligible. I'm still

[2021-05-13 10:02] hubikj commented on #2
I read an interesting article about capacitive soil moisture sensors and the author recommends sealing the PCB edges with epoxy:
![image](https://user-images.githubusercontent.com/9319842/118110764-1b2fd600-b3e3-11eb-9554-555e85b3d9db.png)
Source: https://thecavepearlproject.org/2020/10/27/hacking-a-capacitive-soil-moisture-sensor-for-frequency-output/

[2021-05-13 11:19] rbaron commented on #2
Thanks for sharing @hubikj. That's a good reference.

Before using the conformal coating spray, I was applying a layer of transparent nail polish to the sides of the PCB. That seemed to do the trick, but epoxy/conformal coating seems to be the best solution.

[2021-05-13 13:38] AlexSzlavik commented on #2
Thanks for the discussion and the resources. I've applied a thing film of silicon based conformal coating to the edges and the flat surface. There was no noticeable change in sensitivity (as you said, on the scale we care about). I've replaced the sensor and ran it overnight. I still see some initial creep, but the rate is definitely lower. I'll leave it for a day or two and come back with the res

[2021-05-18 06:45] Flipez opened #3 "How to order/Build"
Hi and thanks for all the work!

I am interested in building some of them myself. Looks like I have to order pretty much everything myself. Could you give some hints/links on how to do that?

I've worked with a lot of sensors and smaller electronics in the past but never actually build/order my own pcbs. So I am a bit lost on that.

Thanks in advance!

[2021-05-18 17:10] drewzarn commented on #3
Seconding this somewhat, even a screenshot of what options to pick in the JLCPCB order form would be huge! I zipped up the gerber files and uploaded them, but I don't know what all options to choose to end up with a usable board. Thanks!!

[2021-05-19 06:32] jaimevisser commented on #3
Or even getting some prepackaged kits would be awesome. Soldering everything together is not a problem, but having to source all the hardware and pcb's is the hardest part here.

[2021-05-19 10:06] billypeanut commented on #3
Maybe if there's a big interest, a Kickstarter or something could be set up to do a big batch build/order of certain parts and reduce costs.

[2021-05-19 10:54] jaimevisser commented on #3
I think most people have multiple plants to monitor so even with a few people you'd get a considerable amount of parts that can be bought in batch.

[2021-05-19 16:22] rbaron commented on #3
I'm super happy to see everybody's interest here and thanks for the kind words! I am thinking about putting together a wiki in this repo with:
* Steps and screenshots on how to order it from JLCPCB
* How to solder the nRF module & battery clip
* How to protect the board & components from moisture

I'll ping this thread once it's up.

I agree with @jaimevisser. Sourcing the parts is not trivial - s

[2021-05-20 19:07] M-Redel opened #4 "Add a brightness sensor"
Hello, this is a really nice project.

I am thinking about adding a brightness sensor to be able to better coordinate the location of the various plants in retrospect.

What do you think?

[2021-05-21 02:35] Dza-byte commented on #3
I too am very interested in this! Commenting so I can get the ping when the wiki goes up.  No experience with putting boards together myself

[2021-05-23 13:52] MrEinstin commented on #3
I'm wanting about a dozen or so of these myself. I was also looking at the files and saw the gerber files but I didn't see the schematic? Perhaps I'm overlooking it somewhere. I'd also like to see a USB port for easier programming.

[2021-05-24 10:47] rbaron commented on #4
Hi @M-Redel,

I think that's a great idea. I'll keep that in mind for the next revision!

[2021-05-24 12:17] rbaron commented on #3
Hey everyone,

I took a first stab at documenting the ordering process in the [How to order - PCB fabrication and SMT assembly](https://github.com/rbaron/b-parasite/wiki/How-to-order---PCB-fabrication-and-SMT-assembly) wiki page. Let me know what you think! Please feel free to contribute too.

It mostly covers my experience with ordering from JLCPCB, but I'd love to hear other peoples' experiences

[2021-05-24 13:07] rbaron commented on #3
Hi @MrEinstin,

You can find the schematic in [kicad/parasite.pdf](https://github.com/rbaron/b-parasite/blob/main/kicad/parasite.pdf).

As for adding a USB connector, I think it's a great idea and something that also crossed my mind, but I ended up not going for it. On one hand, the nRF52840 chip we use does offer a USB stack which we could use. For using that for programming, I believe we'd need

[2021-05-24 15:51] drewzarn commented on #3
@rbaron This is great, thank you! I just priced out 15 boards and it's just under $32 with assembly. JLCPCB is short of the SHTC3 as well at the moment.

[2021-05-24 17:15] rbaron commented on #3
Awesome @drewzarn. Please keep us posted!

[2021-05-25 03:37] MrEinstin commented on #2
I have been wondering about the effect of conformal coatings on at least the lower sensor part of the pcb as far as any negative effects in it's measurements. Also, some coatings are more prone to moisture ingress than others. There are also other factors to consider if you were to coat the board entirely as far as reparability. Obviously some areas need to be masked so that they aren't coated (hu

[2021-05-25 07:48] MrEinstin opened #5 "Alternate Parts Availability"
Right now as most have seen the nRF52840 ([E73-2G4M08S1C](https://www.ebyte.com/en/product-view-news.aspx?id=445)) as proposed is currently unavailable for the most part and the ones that are available have obviously went up in price. From what I can determine this particular version of the part, the advantage is the fact that it is pre-mounted on a daughter board which makes hand soldering easier

[2021-05-25 19:54] rbaron commented on #5
Hi @MrEinstin,

I would absolute _love_ to try and use the standalone nRF52840. It's something I've never done but I'd like to learn how to do it properly. I do have some reservations and some questions I need to learn how to answer:

* RF is tricky business. We have to pay attention to impedance matching, ground planes, steer clear from high frequency signals. I see people doing it in prototypes

[2021-05-28 14:11] drewzarn commented on #3
@xlfe Were you able to source the chips that JLCPCB was missing?

[2021-05-29 23:13] Senbei123 commented on #3
Nice project!!!

[2021-05-29 23:34] xlfe commented on #3
Only on back order for the temp sensor. AliExpress had heaps of the E73s

On Sat, 29 May 2021, 12:11 am Drew, ***@***.***> wrote:

[2021-05-30 13:23] bit-bat commented on #3
@rbaron Thank you for putting the wiki together! This will help me save 10s of hours.
I have a request though - could you add the nRF chip as well in the BOM & placement files for JLCPCB?

This can save us some pesky SMT soldering when the chip is back in stock (and until then it doesn't hurt). I am planning to order around 30 of these (multiple pots and garden) and soldering that many SMT chips b

[2021-05-30 20:32] SchmidL opened #7 "Exchange SHTC3 with more abundant SHT3X/SHT20"
Hi,

found your project yesterday and love it!
Today was checking the feasability of the current version and wanted to ask why you went for the SHTC3 instead of the rather more often used SHT3X series, especially the SHT31.
The only reason I can find is the bit easier way to solder the sensor due to the packaging of DFN-4 instead of DFN-8 and the pricing - Is that right?
Another option would the t

[2021-05-31 17:32] rbaron commented on #7
Thanks @SchmidL!

It's unfortunate that the SHTC3 is out of stock. I originally chose it because it was cheaper and the number of parts in stock has super high. The fact that's a DFN-4 or DFN-8 doesn't matter too much I think, since we're using SMT assembly. Both these are very tricky to solder by hand, unless you use solder paste/toaster oven.

I will take a look at the other options. Most likely

[2021-05-31 17:33] rbaron commented on #3
Thanks @bit-bat. I will update the nRF chip. I can't wait for this chip shortage to be over 😰

[2021-05-31 18:33] yuvalabou opened #8 "README not up-to-date, b-parasite platform already merged into ESPHome"
This need to be adjusted: https://github.com/rbaron/b-parasite/blob/main/bridge/README.md

[2021-05-31 19:32] rbaron commented on #3
Hi @bit-bat,

I updated the BOM and pick-and-place files with the E73 module in 753e5d832587b0f753ab5e64ed213f535deabbdf.

Since we can't order the SMT assembly with this part yet, we need to pay extra attention to the order when it does become available. This part requires special attention for SMT assembly because the footprint is not super standard. In practice, it's very likely JLCPCB engineer

[2021-05-31 19:43] #8 closed

[2021-05-31 20:13] SchmidL commented on #7
Hi @rbaron,

Thanks for the fast reply! Yeah thats also what I thought with the soldering. But was curious if I saw some super power saving specs or something!
I mean if the supply gets restocked, then I would be totally in for the cheaper option!

[2021-05-31 20:13] #7 closed

[2021-06-08 19:02] argupta23 commented on #3
@rbaron
Thanks for your efforts around pulling this all together and sharing it with the community.
I am interested in ordering some as well.
I do have a couple questions
1. Does JLCPCB provide testing of the assembled product? Assuming they would need some of your firmware to do that
2. Can the firmware you have listed here be shared with JLCPCB?
Please advise.

@bit-bat
While I understand the is

[2021-06-10 19:01] rbaron commented on #3
Hi @argupta23,

I don't think JLCPCB offers such a service, but I may be wrong. I imagine big fabrication houses might do that for really big orders, but I don't have experience with that. For the orders I placed there, I soldered, programmed and tested the boards myself.

[2021-06-11 05:04] argupta23 commented on #3
@rbaron
Appreciate the feedback. given the shortages on SHTC3 and the NRF modules, I will anyway end up in the same situation.
With regards to other discussions ongoing in different threads on possible alternatives, are you planning to make any changes to the current version of the PCB? If yes, can you share when will it be available and what would the updated parts list look like?

Please advise.

[2021-06-12 07:05] rbaron commented on #3
@argupta23, I think a good plan is to update the slightly older and cheaper SHTC3 with some other [Sensirion SHT*](https://jlcpcb.com/parts/componentSearch?isSearch=true&searchTxt=sensirion). I will update the design, do a trial batch and update the code accordingly.

For the nRF module, I am not so sure yet it's worth changing the design. Even though JLCPCB doesn't have it in stock, I've been get

[2021-06-14 23:34] argupta23 commented on #3
@rbaron
thanks for the feedback.  I will go down the path of ordering the parts separately and put some builds together when I get them.

[2021-06-15 12:48] bit-bat commented on #3
Hi @argupta23. I did not place the order as I am waiting for the chips to be available. Soldering 50 SMTs with ~30 pads each is a lot of work that I am not ready to commit (yet). But I did walk through the steps and at the end the PCB (with most components) was under $1 / unit when placing order for 50 units. This price doesn't include 2 chips - SHTC3 and nRF

[2021-06-26 02:08] argupta23 commented on #3
@rbaron
Is there a way I can reachout to you directly?
Thanks

[2021-06-27 01:54] volzb opened #9 "How to program"
HI,

Nice work!!

I'm looking for guidance on how to program the devices, I have an Atmel ICE that has SWD would that work?

Are there any cheap programmers that could easily be used?

[2021-06-28 07:23] Tirocinante01 commented on #3
hello I'm sorry to bother
I read the discussion and saw all the links and blueprints but I was wondering
is there any way I could get a few b-parasite already built and soldered?

i sadly have no experience on doing this stuff and I dunno any closely company that could print/build these out for me
im not looking for big numbers but just 3-4 for a project of mine

[2021-06-28 09:14] kuerb commented on #9
I did manage to upload code using one of these bluepill programmers (~2€), as described in the [nrfmicro Wiki](https://github.com/joric/nrfmicro/wiki/Bootloader). They have no connection to the reset pin and I ended up buying a J-Link Edu Mini (~20€) because I couldn't get them out of an infinite loop (that I accidentally put into the code myself) otherwise. (Be aware, that the J-Link Edu Mini has

[2021-06-28 15:01] argupta23 commented on #9
@kuerb @volzb
I have a quick question.
From where did you source the SHTC3 and the E73... modules? My experience with AliExpress sellers has not been pleasant.

[2021-06-28 16:32] kuerb commented on #9
@argupta23 I don't think this issue is the right place for this discussion. but so far, i've ordered the modules from 4 different aliexpress sellers without any issues. the shtc3 was in stock at lscs when i ordered the pcbs.

[2021-06-28 17:02] argupta23 commented on #9
@kuerb
If you feel comfortable, can you please share some links of sellers you have worked with?
I know lcsc is out of stock on both, else I would I have gotten it from them as part of my order.
Appreciate the help.

[2021-06-28 18:23] rbaron commented on #9
Thanks @volzb. And thanks @kuerb for chiming in.

I second @kuerb. I think the J-Link Edu Mini is a good choice for hobbyists.

[2021-07-02 15:57] AlexSzlavik commented on #9
Adafruit offers the J-Link mini for a reasonable price. Sparkfun also has them.

[2021-07-02 15:59] AlexSzlavik commented on #2
So I changed the coating to a Polyurethane based coat. This has been working really well! I haven't tried the silicon based one again since, but I think I may have also messed up the initial curing process on that coating. Eitherway, as was pointed out in this thread, coating the edges is absolutely key.

[2021-07-02 15:59] #2 closed

[2021-07-03 11:31] rbaron commented on #2
I'm really glad to hear that @AlexSzlavik. Thanks for coming back and updating the thread!

[2021-07-03 11:33] rbaron commented on #9
Another new and promising alternative is @atc1441's [ESP32-based SWD flasher](https://github.com/atc1441/ESP32_nRF52_SWD). I haven't tried it myself, but it's looks super sweet. I'm looking forward to giving it a go.

[2021-07-13 19:28] semperstew commented on #3
Please forgive my ignorance if this has been discussed elsewhere. I'm trying to follow your instructions in the wiki for ordering the PCBs from JLCPCB. After uploading the zipped gerber files, I am unable to add the order to cart because the specification is missing "dimensions". I had thought those would be somewhere in the gerber files. Do you have a default set of dimensions that you would reco

[2021-07-14 19:57] kuerb opened #10 "Offset correction"
Some of my sensor are reporting an moisture offset of around 2 – 5 %. Is it possible to correct that value? These values seem to be a lot less stable than the 0 % readings I get from the others, when they aren't in soil. Is there already some kind of compensation?

[2021-07-14 22:38] rbaron commented on #10
Hi @kuerb,

In theory, it's possible to calibrate each b-parasite individually. The [get_soil_moisture_percent](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/src/prst/adc.c#L95) function (and associated comment) describes how the sensor is calibrated and how you can redo it yourself.

In practice, variations in the fabrication, soil type, air humidity, temperature, presence/type o

[2021-07-16 07:13] rbaron commented on #3
Hi @semperstew,

I believe this field has been automatically filled every time I put an order with them, just after the zip file has been uploaded.

Would you try again and let us know if that worked?

[2021-07-19 17:15] semperstew commented on #3
@rbaron I created a fresh clone and tried again. Seemed to work much better this time. A lot more of the data was filled in on the JLCPCB order form. Sorry about the false alarm.

[2021-07-20 10:56] rbaron commented on #3
No worries @semperstew. Glad to hear you got it working!

[2021-07-27 19:29] rbaron commented on #10
@kuerb, I'll close this issue, but please feel free to reopen it.

[2021-07-27 19:29] #10 closed

[2021-07-28 07:41] kuerb commented on #10
Yes no worries. Reprogramming each sensor individually is a bit much. I was hoping for a correction within the scanner or HA.

I haven't tried it yet, but my idea was to use a [plant component](https://www.home-assistant.io/integrations/plant/) in HA and add the offset via a value_template into the configuration.yaml. (Maybe this helps someone else when looking for an answer for this.)

[2021-07-30 21:49] SchmidL opened #11 "splitting sensor and RF-part"
hi,

I still follow you project very tightly and will soon order my first batch! Unfortunately, I should have order the nRF when there where still more widely available, but at that time the temp sensor was on short. Anyway...
Will waiting I was thinking if it would be possible to split the sensor (parasitic cap) from the rest of the electronics.
1. Would make the waterproofing of the electronics

[2021-07-31 22:33] derwana commented on #3
Regarding the SHTC3 shortage: i ordered myself some cheep sensormodules from [AliExpress](https://www.aliexpress.com/item/4000352981649.html) and desoldered the SHTC3. After preheating the little daughter board with a thick soldering tip the chips came of with no problem.

![photo_2021-08-01_00-26-15](https://user-images.githubusercontent.com/37293191/127753824-0b7a33a1-d44a-4744-9e8a-69652e04b179

[2021-08-01 07:56] rbaron commented on #11
Hi @SchmidL,

That's an interesting idea. I think there are a few ways to split the sensor and RF part, depending on where you cut the design. For example, if you want to remove just the nRF module:

<img width="565" alt="Screen Shot 2021-08-01 at 09 40 39" src="https://user-images.githubusercontent.com/1573409/127763347-06dca164-3928-4ffc-911b-a0de51b76d8b.png">

1. The `SENS_OUT` is the output,

[2021-08-02 07:56] SchmidL commented on #11
Hi rbaron,

Thank you very much for your extensive reply and suggestions! Also a very nice idea is to use multiple sensors on one nRF.
I also really like your suggestions for different separation ideas. In my decision phase i don’t really care to have 3 or less wire, although just cutting off the parasitic capacitor was the one I like the most. I will come back when I have implement the different

[2021-08-03 03:15] argupta23 commented on #3
Can somebody please share instructions on how to program these boards?
I do have a Jlink mini on order.

Appreciate the help

thanks

[2021-08-07 14:20] argupta23 commented on #9
@kuerb @rbaron
Can I please request some help on how one should,
1. wire-up the J-link to the b-parasite board?
2. steps to program the board?

Thanks in advance for your help.

[2021-08-07 15:14] andreapx commented on #3
I'm interested to to buy a fully built version of the b-parasite and maybe even of the w-parasite (I want to install some of these in my garden and a single BLE bridge will not work).
Thanks!

[2021-08-08 13:32] rbaron commented on #9
Hi @argupta23,

I set up an initial [How to Program](https://github.com/rbaron/b-parasite/wiki/How-to-Program) wiki page.

I hope it helps.

[2021-08-08 13:34] rbaron commented on #3
Hi everyone,

The current semiconductor shortage is making things a little difficult. I hope I can put together some boards soon.

Meanwhile, I added a new wiki page on [How to Program](https://github.com/rbaron/b-parasite/wiki/How-to-Program) the boards.

[2021-08-08 22:25] argupta23 commented on #9
@rbaron
Thanks, I will give it a shot and let you know if I run into issues.

[2021-08-08 22:44] argupta23 commented on #3
Should somebody put in an effort to pull together a small batch, I am curious to hear what price range do people think the assembled version of the b-parasite module should be in?

@Tirocinante01 @andreapx
and what quantities are we talking about?

Thanks

[2021-08-09 09:50] andreapx commented on #3
It actually depends from the price if it's simila to what @drewzarn said (about 2$/piece, but actually even 4$/piece), I'd buy 5/6 pieces, If it's more in the order of 10$/piece, I'd buy 1 or 2 pieces.

[2021-08-09 15:49] AlexSzlavik commented on #9
@rbaron Fantastic job on that wiki article! Heavy Kudos

[2021-08-10 06:11] hubikj commented on #3
I would buy 10 pieces if the price is reasonable.

[2021-08-10 10:07] rwmccoy commented on #3
I would buy 10 pieces at any reasonable price.

[2021-08-10 21:33] lukas-kurka commented on #5
Hi @rbaron, I’m also strugling to source [E73-2G4M08S1C](https://www.ebyte.com/en/product-view-news.aspx?id=445). Have you tried [E73-2G4M08S1E](https://www.ebyte.com/en/product-view-news.html?id=1035)? Those seems to be widely available these days. Beside some little differencies in consumption the only significant difference I can spot is halfed flash and ram size. To what size does your code co

[2021-08-11 05:24] argupta23 commented on #3
@andreapx
thanks for the feedback on price expectancy.

Given the chip shortage and current state of things, the raw material cost itself is around $13-15. Put in the additional efforts to assemble, flash, calibrate which is about 30-60min.

Having said that I don't think that anybody can match the prices you are looking at.

A sweet spot to make it commercially viable would be in the range of $23

[2021-08-11 06:00] hubikj commented on #3
I think it is OK price for a fully assembled, flashed and calibrated units. I think I would still buy 10, definitely 5+.

[2021-08-11 08:23] rbaron commented on #3
For context, @argupta23 reached out to me via email and I sent over these estimations, which he relayed here. We are by no means associated nor do I have any interest in pursuing any commercial partnership at this point.

I can provide some more insight into the economics of my last few orders and explain where these figures come from.

Let's take this batch of **30 boards** b-parasites as an exam

[2021-08-11 11:37] rwmccoy commented on #3
I might dial back to 6 as the price goes up just to get to the discount point. I see the issues with setting the price, especially with manual assembly and calibration required. Thanks for the insight into the process.

[2021-08-12 20:53] lukas-kurka commented on #5
Well I’m hobbyist and much more into to SW than HW (this would be first time for me ordering custom pcb). I know the chip is different, however when I compare the datasheets side by side on [ebyte](www.ebyte.com) website I would say those modules are exactly the same (not counting the chip) including the pinout.

[2021-08-16 17:47] RAYs3T commented on #3
I'm also interested in buying about 5 Units (complete or partially assembled).
So if anyone is going to order a few or even assemble them I would be happy to take part in the order (living in Germany).

[2021-08-24 09:32] Purii commented on #3
Same for me. Also living in Germany and would be highly interested in buying around 3-5 units

[2021-09-02 13:47] jhbruhn commented on #5
I have tried this successfully: #13 adds support for it. The Code has remained unchanged, only some defines and the linker script had to be adjusted for the different MCU.

[2021-09-02 19:03] rbaron commented on #5
I just merged #13. Fantastic work @jhbruhn! 🎉

[2021-09-03 20:31] william-1066 commented on #9
@rbaron   - awesome project.  I did get 30 made (my first every PCB order - I had a lot of faith in you :-) plus your documentation made it very easy) and have started manually soldering the sensirion and ebyte chip on to boards - yes ... I am desperate to get this out into my greenhouse!

With no prior experience of this tool set or JTAG "thingy" I finally managed to get my first board working -

[2021-09-04 07:06] rbaron commented on #9
Hey @william-1066,

Thanks for the kind words. It makes me really happy to see people learning and hacking with b-parasite.
Are you soldering the temperature sensor by hand? That's pretty impressive!

As for the `make` error, could you please paste the whole output? It's interesting that it works with `JLinkExe` but not `make`.
Some thoughts:

1. Have you seen the [Deep Sleep & The Reset Trick](ht

[2021-09-04 17:58] william-1066 commented on #9
Hi @rbaron

I am soldering the temp sensor and processor by hand - they were out of stock when I ordered.  The temp sensor is a bit tricky, but nothing watching a couple of you tube videos could not fix :-)

Thanks for the pointers.  With the third one I build I will try to create some logs and post here after a bit more of my own troubleshooting.

I have one other question - I seem to be getting

[2021-09-05 09:54] rbaron commented on #9
Hey @william-1066,

You can change the MAC address before compiling the code by editing [PRST_BLE_MAC_ADDR](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/config/prst_config.h#L26).

[2021-09-05 16:20] william-1066 commented on #9
Hi @rbaron

Thank you.  So managed to change the MAC and the name - all looking good so far.

Still can't get the make file to flash.  It may be an Ubuntu thing.

I thought it was going to be tricky to catch the CPU waking up without JLink dll working and using the make option with a flash loop, but I was able to use JLinkExe to halt the CPU and re-flash with a new MAC.

Again, awesome piece of wo

[2021-09-26 11:45] nordeep opened #15 "R9 has no position in kicad/parasite-top-pos.csv"
Seems R9 has no position in [kicad/parasite-top-pos.csv](https://github.com/rbaron/b-parasite/blob/main/kicad/parasite-top-pos.csv), but exist in BOM [kicad/parasite.csv](https://github.com/rbaron/b-parasite/blob/main/kicad/parasite.csv).
This is confusing when trying to place an order on JLCPCB. It seems that it is necessary to clarify in documentation.

[2021-09-26 15:15] rbaron commented on #15
The R9 in this revision is a through-hole photoresistor, which I believe JLCPCB does not assemble. I will update the wiki for ordering to reflect that.

[2021-09-26 15:15] #15 closed

[2021-09-30 09:01] jhbruhn opened #17 "Measure between Transmissions"
Arguably, the transmission of the sensor data is the most battery-expensive part of a measurement cycle.
Could we decouple measuring and transmitting and measure between transmission intervals as well, and communicate those measurements in a batch transmission? This could give us a higher measurement resolution for less overall consumption in theory.

These transmissions could either be triggered

[2021-09-30 16:56] rbaron commented on #11
Hey @SchmidL, I'll close this issue since there's no activity. Feel free to reopen it!

[2021-09-30 16:56] #11 closed

[2021-09-30 17:26] rbaron commented on #17
That's an interesting idea that has been brought up in the past.

You are right, transmitting the data is by far the most power hungry stage, both with higher currents (in the order of 10 mA) and in time (~1 second). On the other hand, we can sample the sensors super fast, usually in the order of milliseconds. To keep the power consumption down, we need to do this faster and/or less often. Some id

[2021-10-01 10:24] jhbruhn commented on #17
I agree that a transmission / measurement interval of 10 minutes (heck, even 30 minutes i guess) does not really add value for soil moisture measurements, thus I was thinking about keeping the measurement interval at ~10 minutes, but transmitting only in aforementioned cases, maybe if deviation of the current measurements from the last transmissions value is really high. Thus a battery runtime of

[2021-10-01 17:21] rbaron commented on #17
I think those are super valid and noble motivations and I really sympathize with them. I am in favor of us trying to explore some of those possibilities, specially if we can make it opt-in for users, at least in the beginning, while leaving the simpler setup as a default.

It's a little off topic, but since we're brainstorming here, I would also like to understand more what's possible in this worl

[2021-10-09 15:49] andreapx commented on #3
Ok, I'm up for 2/3 pieces!

[2021-10-16 12:39] rbaron commented on #5
Thanks everyone for the ideas and work here - super happy that we now have support for an extra nRF module.

[2021-10-16 12:44] rbaron commented on #9
Thanks everyone. I think most points are covered in the [wiki](https://github.com/rbaron/b-parasite/wiki/How-to-Program). Please feel free to open a new issue in case you have problems.

[2021-10-16 12:44] #9 closed

[2021-10-16 12:45] #1 closed

[2021-10-16 13:49] rbaron opened #19 "Community Gallery"
I would love to build a small and friendly community of users, and it's really heartwarming to see pictures of your b-parasites. If you have some and would like to share, I invite you to post them in this issue.

I'll start. I believe this is a type of red [Alocasia](https://en.wikipedia.org/wiki/Alocasia):

![bp1](https://user-images.githubusercontent.com/1573409/137589808-4416aeaf-9afe-4dc7-96b4

[2021-10-18 02:40] rbaron commented on #3
@icanhazpython, I just pushed a commit removing the C_0805_2012METRIC resistor from the BOM file. It shouldn't have been there. You can safely ignore it.

[2021-11-12 21:03] SchmidL opened #20 "programming - low voltage detected at the target"
hi,

I try to flash the firmware with my J-Link Edu. but unfortunately I get following error? As it's the first time flashing with swd, I cannot figure out what the issue is. After a successful compile, it would like to flash the softdevice part and encounter the following error:
[code]

same for just make flash, the Vcc is directly connected to the jlink. no coincell involved.
Any ideas? Thx

[2021-11-13 14:02] rbaron commented on #20
Hi @SchmidL,

Have you taken a look at the [How to Program on the Wiki](https://github.com/rbaron/b-parasite/wiki/How-to-Program)?

Can you show us how you're connecting your J-Link Edu to the target? Think to check:
1. You need to connect 4 wires from the J-Link to the b-parasite. Make sure you're also connecting the GND and Vcc
2. **Take off the battery** if you're connecting the Vcc from the J-

[2021-11-14 12:55] SchmidL commented on #20
Hi @rbaron,

yes I looked at it but in the end i followed the REAMDE from the /code https://github.com/rbaron/b-parasite/tree/main/code/b-parasite, as there where several issues/errors for me (`make flash-softdevice` is wrong, -> `make flash_softdevice`, `make flash-device` does not exist), but no problem.

Then I connected my J-Link Edu via USB to a USB-C hub to my Mac.
The sensor i connected lik

[2021-11-15 21:29] SchmidL commented on #9
I tried this SWD flasher and it works so far like a breez. I could unlock the nRF chip and working now on the flashing of the firmware. Any idea of how I can make flashing the softdevice and actual firmware easier? - until now i just `cat` them together and flashed them all at once. Unfortunately could not check the MQTT messages, as my other setup is also evolving... Or would it make sense to fla

[2021-11-16 21:56] rbaron commented on #9
@SchmidL, I believe the usual flow is to flash them separately. Also notice that you only need to flash the SoftDevice once. Then you can flash the firmware as many times as you want.

[2021-11-16 22:02] atc1441 commented on #9
The problem is that the ESP32 SWD Flasher currently is not able to flash at an offset.

One file needs to be created first from SD and firmware.

will add an offset feature to the Flasher but i can not say when, it has so much more thinks that could be added

[2021-11-16 22:27] rbaron commented on #20
I just corrected the typos in the Wiki page.

I believe the J-Link EDU cannot power target boards. It means that you need to provide external power to the b-parasite, and also connect VTref to it. One idea is to then leave the battery in or supply 3.3V to it with an external power supply while flashing.

[2021-11-21 21:14] chris-b-tanner opened #21 "Poll from battery-powered client"
Hi - this looks like a fantastic device. We run a solar powered client (central control box) that currently uses wired sensors and I would like to change to wireless. However, the main unit sleeps most of the time, waking every 30 minutes. From what I know about BLE, it's possible to poll a sensor and still maintain a good sensor battery life. Is polling something you have thought of including in

[2021-11-21 21:46] rbaron commented on #21
Hi @chris-b-tanner, thanks for the kind words.

I think it's totally possible to set up a polling scheme. We can define a BLE service & a characteristic that returns the sensor values when read. The question is how low we can keep the power consumption. At the very least, we need to turn the radio on for advertisements, and it has to be often enough that, when the central wakes up, it reads the br

[2021-11-21 22:32] chris-b-tanner commented on #21
Hi @rbaron - that's interesting. Our central is ESP32 powered (lots in the field already, can't change that) with a 2900mAh battery. It's notoriously power hungry as you know, so we deep sleep. I'll look into whether we can have it always (or nearly always) listening for broadcast at a lower power ... but indications from early research are that it's still ~100mA.

I briefly investigated an ESP32

[2021-11-22 07:54] rbaron commented on #21
@chris-b-tanner, got it. I think implementing a read BLE service for polling is a reasonable way forward. Unfortunately I can't work on that right now, but I'm happy to provide guidance for you or someone else who wants to work on it. I would only push that this is a config-enabled, off-by-default change.

Here's another thought. Let's say we have that service so that clients can connect to b-para

[2021-12-02 09:27] sefranz opened #22 "Bad availability of nRF52 module - alternatives?"
Hello there, lately I stumbled upon this awesome project and was totally set on building a dozen of those.
Unfortunately, the nRF52 Bluetooth module seems to be more than a little elusive right now, in my region starting only at €15 per piece.

Therefore, my question(s) did you ever consider any alternative Bluetooth modules? Or if not, could you elaborate on the specific features used by the nRF5

[2021-12-02 19:11] rbaron commented on #22
Hi @sefranz,

Indeed these nRF52 modules got hit hard with the current semiconductor shortage both in price and availability. The original project uses a nRF52840 module (E73-2G4M08S1C). A while ago we added support for an (almost) pin-compatible nRF52833 module, the E73-2G4M08S1E (details in rbaron/b-parasite#13). This was done exactly because of the shortage.

These nRF52833 chips are currently

[2021-12-13 00:30] argupta23 opened #23 "R10 resistor partnumber in kicad file?"
@rbaron,

Is the part number for the newly added R10 resistor in V1.2 of the PCB correct?

Can you please confirm or provide the updated info?

thanks

[2021-12-13 07:55] rbaron commented on #23
Hi @argupta23, good catch, it's not correct. I will update it asap. It should refer to any 470 Ohm, 0402 resistor on LCSC.

[2021-12-13 17:44] #23 closed

[2021-12-14 18:08] argupta23 commented on #23
thanks

[2021-12-30 17:48] jhbruhn opened #24 "ble_monitor support in wiki/readme"
I just added support for b-parasites to this handy Home Assistant Integration: https://github.com/custom-components/ble_monitor/pull/597
Allows slipping the ESPHome devices with manual configuration, although they can be used as "extension".
The integration discovers the parasites automatically and adds them as a HomeAssistant Device.

Maybe this integration can be mentioned in the wiki or readme

[2021-12-31 09:49] jhbruhn opened #25 "Option to use internal Random Static Address"
Changing the config for every device and then recompiling is (comparably) tedious when flashing many devices. Additionally, there is an overhead involved when having to manage the MAC-addresses of all the devices involved.
An option to use the [internal random-static MAC-address unique to each nrf-IC](https://infocenter.nordicsemi.com/topic/com.nordic.infocenter.s140.api.v7.3.0/group___b_l_e___g_a

[2022-01-01 11:36] rbaron commented on #24
That looks fantastic @jhbruhn. Thanks for contributing again and happy new year!

I'll take the HA integration for a spin when I'm at my computer in a couple of days and I'll absolutely mention it in this repo.

[2022-01-06 20:32] #24 closed

[2022-01-07 07:41] #25 closed

[2022-01-08 11:59] janpfo commented on #22
Hello @rbaron!
Is E73-2G4M08S1E using the same PCB as E73-2G4M08S1C? Is there any reason for not buying the E-model?

[2022-01-08 16:52] rbaron commented on #22
Hi @janpfo,

For b-parasites, they work pretty much the same. If you use the E73-2G4M08S1E one, you just have to specify `PLATFORM=E73_2G4M08S1E` when compile - [docs here].

[2022-01-08 16:52] #22 closed

[2022-01-08 18:04] janpfo commented on #3
@rbaron I see that you mention "Applying the conformal coating", what conformal coating do you recommend to be apply?

Also, JLCPCB didn't have the red LED. It will not impact the final product to skip this part?

[2022-01-09 09:46] rbaron commented on #3
@janpfo I've been using this [Plastik 70 frmo Kontact Chemie](https://www.farnell.com/datasheets/2723407.pdf).

The missing LED should be okay, but you can essentially select any other red 0402 LED from JLCPCB.

[2022-01-11 08:33] rbaron commented on #3
@janpfo In the render, we can see Q4 connected to the SoC pad and to GND through the resistor R10. So the Anode should be on the left (side connected to the SoC pad) and the cathode on the right (connected to GND through R10). I believe this is configuration in the (corrected) right render, assuming the red vertical bar represents the cathode.

[2022-01-11 08:44] janpfo commented on #3
I looked at the schematics, and it looks like the original is correct. If the numbers on the schematics and render is correct. The "1"-side should be connected to pin 8.

![Screenshot_20220111-072549_Edge](https://user-images.githubusercontent.com/6116969/148909506-f1bbe9ee-895f-4125-bd8c-201a173546ba.jpg)
![Screenshot_20220111-072526_Edge](https://user-images.githubusercontent.com/6116969/1489095

[2022-01-11 08:56] rbaron commented on #3
@janpfo I would try clarifying with JLCPCB which pin represents the collector (pin 1 for us) and the emitter (pin 2 for us) in their footprint. Hopefully both us and them assign the same pin numbers to the footprint, but I'd still double check. Please let me know what they reply.

[2022-01-11 15:32] janpfo commented on #3
Looks like the original render was correct. Collector on pin 1 and emitter on pin 2.

[2022-01-14 22:51] Meroje commented on #20
I'm using an EDU mini too, it had to have the reset line connected to move past this.

Unfortunately, in my case (with E73_2G4M08S1E modules) it's then looping on `ERROR: [SeggerBackend] - JLinkARM.dll reported "-1", "An unknown error.".` for nrfjprog, or a combination of `ConfigTargetSettings() / InitTarget()` loops with JLinkExe

[2022-01-16 08:59] rbaron commented on #20
Hi @Meroje. Did you manage to fix it?

I've had my fair share of these frustrating errors. It's hard to pinpoint the root cause from a distance, but from experience it's usually the following, in order of likelihood:

* Double check the GND, SWCLK, SWIO, 3V (provided from an external source if using the J-Link EDU);
* Faulty USB cable. This used to be the last thing I suspect and now it's the firs

[2022-01-16 13:56] Meroje commented on #20
Probe reports `VTarget = 3.223V`, using an external source (not battery), reseated cables multiple times and checked swio/clk

tried a few, seems unlikely

I hand soldered 2 parasites so far, using rossman levels of flux. I have good confidence joints are ok on both but no way to be sure 100%

bought from adafruit. not sure what other chips I have to check on

Tried linux and windows so far

still

[2022-01-16 14:57] rbaron commented on #20
@Meroje can you confirm you get a different error if you don't power the b-parasite?

You can also try issuing the `nrfjprog --reset --log` command. Maybe it will give you a hint of what's happening.

If you want to share a picture of your setup, I can take a look and see if there's anything visibly wrong.

[2022-01-16 15:48] Meroje commented on #20
removing external power gives the expected "low voltage" error

![IMG_1094](https://user-images.githubusercontent.com/304101/149666984-57bb850f-33b3-4429-9d40-490d5667dc7d.jpg)
[jlink.log](https://github.com/rbaron/b-parasite/files/7877289/jlink.log)
[nrfjprog.log](https://github.com/rbaron/b-parasite/files/7877290/nrfjprog.log)
[code]

[2022-01-16 16:58] rbaron commented on #20
@Meroje, another thing to try. You mentioned you connected the RST pad on the b-parasite to the J-Link. In my workflow, I do not connect the RST pin to the programmer. I manually briefly tie it to GND when I want to reset the b-parasite.

Try the following:
- Completely disconnect the b-parasite RST pad;
- Connect the b-parasite RST pad to GND;
- Run `nrfjprog --reset --log` - it should hang;
- Di

[2022-01-16 17:29] Meroje commented on #20
Without RST the jlink bails immediately with low voltage

[2022-01-16 17:43] rbaron commented on #20
Did you try the sequence of actions I suggested? What happened? Did it initially hang?

If it shows a low voltage warning, I would try a different external power source for 3.3 V. And make sure to remove the battery then.

[2022-01-16 17:45] Meroje commented on #20
Turns out the swd ribbon was backward (pretty sure I did try at some point): it has to face "inward" on the jlink-edu board

[2022-01-16 17:48] rbaron commented on #20
Happy to know it's working now.

[2022-01-16 17:50] Meroje commented on #20
looks like it succeeded, will check the packets
[code]
anyway, thanks for the tips and sorry for the confusion

[2022-02-10 06:13] joedupa opened #27 "WiFi version"
Hi, have you ever considered designing an ESP based version of the sensor for longer range and wider coverage of WiFi (comparing to BT) ? Thanks, and congrats on this project!!

[2022-02-10 07:45] rbaron commented on #27
Hi @joedupa. Yes! Indeed that was my first design. You can still find it in [rbaron/w-parasite](https://github.com/rbaron/w-parasite). I found it's challenging to do do long running, low power stuff with ESP32 + WiFi. It pulls upwards of 250 mA when active (vs. ~10 mA with BLE) and using a LiPo + LDO means higher deep sleep current due to quiescent current (15 uA vs. ~3 uA for BLE).

It might stil

[2022-02-10 07:45] #27 closed

[2022-03-07 09:04] jhbruhn commented on #19
Finally got around to making some pictures of my sensors! All of them are in cases, some made with transparent resin and some with traditional PLA. These are the photoresistor-based sensors, although I plan to make more from the newer design as soon as E73 modules / nrf52 chips are available again (whenever that might be).

[Epipremnum](https://en.wikipedia.org/wiki/Epipremnum_aureum):
![XyiO0D0](

[2022-03-09 18:34] ThisIsntTheWay opened #28 "RTT with FTDI board using OpenOCD"
_This question is less about the p-parasite and more about OpenOCD._

As I lack access to a J-Link debugger to program the nRF SoC, I've had to resort to an [FTDI-based](https://www.adafruit.com/product/2264) programmer with OpenOCD.
However, I suspect that my b-parasite doesn't quite work right and wish to investigate the logs it generates.
(It never blinks the LED nor broadcasts any BLE packets

[2022-03-09 18:35] rbaron commented on #19
That's awesome @jhbruhn. Which transparent filament is that in the first pic? It looks so nice!

[2022-03-09 19:16] ThisIsntTheWay commented on #28
Well, I've managed to get it to work it seems.
The problem was that my CB search buffer was too low (2048 bytes).
By allowing up to 80000 bytes (arbitrary choice), OpenOCD was able to find the control block:
`rtt setup 0x20000000 80000 "SEGGER RTT"`

It appears that the SDK places the RTT control block randomly in the heap (unless specified otherwise).

I was then further able to expose a TCP serv

[2022-03-09 19:16] #28 closed

[2022-03-09 21:49] rbaron commented on #28
Hey @ThisIsntTheWay. Thanks for sharing! I'm really interested in giving OpenOCD a go and I feel encouraged after reading your comments. Would you mind sharing how you flashed the softdevice & firmware as well?

Btw, did you manage to find the original issue with the board?

[2022-03-09 23:03] ThisIsntTheWay commented on #28
Hey @rbaron, I was indeed able to fix my issues with the board!
After some good old debugging with print-statements, I was able to determine that the board locked up at `prst_ble_init()`, specifically when calling `nrf_sdh_enable_request()`.

Thanks to some googling I found some hints to overwrite the following definitions in `sdk_config.h`:
[code]
This instructs the board to use the internal quar

[2022-03-10 07:57] rbaron commented on #28
Hi @ThisIsntTheWay. Thanks for the fantastic and thoughtful writeup! It's incredibly helpful to me and for sure for other contributors. I will make sure to link your answer on the wiki. Tks!

As for the original issue, both nRF52840 and nrF52833 have, in addition to the high frequency CPU clock (noted as HFCLK in the datasheet), a low frequency clock (LFCLK) that powers the real-time counter (RTC)

[2022-03-10 10:24] jhbruhn commented on #19
That is Anycubic Eco Resin Clear, but with a layer of spray coating on there to restore the clearness and have it less diffused.

[2022-03-10 20:33] ThisIsntTheWay commented on #28
Alright, turns the XTAL **does** work and I just did a poor soldering job of the nRF module.
The solder only bounded to the pin(s) of the module, but not the pad.

Anyway, the board no longer locks up on `nrf_sdh_enable_request()` using `NRF_SDH_CLOCK_LF_SRC 0`.

[2022-03-13 09:43] jhbruhn opened #29 "Negative Temperature Values"
Wanting to use one left-over b-parasite to verify the temperature of my fridge, I noticed that the device does not transmit negative flawlessly (at least not to the ble_monitor solution). Is it a problem with the encoded packets or with the decoding?

As a plant-logging use-case, it might come in handy for plants which are on a balcony, or in the garden, although that specifically will not happen

[2022-03-13 11:03] rbaron commented on #29
It seems like we:
1. Read the value out of the temp sensor as a signed 16 bit int [here](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/src/prst/shtc3.c#L61) (the [`temp_millicelcius`](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/src/prst/shtc3.h#L19) field is an `int16_t`)
2. But we [pass it to the `prst_ble_update_adv_data`](https://github.com/rbaron/b-parasite/

[2022-03-13 16:05] rbaron commented on #29
I did a quick test and it seems a quick workaround is just changing the decoding side to read the value into a signed `int16_t` instead:

[code]

But that invites another limitation. By using a signed 16-bit integer, we can only represent values in [−32768, +32767], which would map to °Celcius in +- 32.

The SHTC3 sensor is only accurate to 0.2 degrees Celcius, so encoding the temp in °Celcius * 1

[2022-03-13 17:07] jhbruhn commented on #29
That sounds reasonable. I can make the appropriate PR to the ble_monitor HA component as soon as the new protocol version is defined.

On another note, while we are at it bumping the protocol version: There are BLE sensors which are using the same BLE-UUID to broadcast sensor information, specifically Xiaomi temperature sensors using the ATC firmware. The HA component currently differentiates betw

[2022-03-13 18:24] rbaron commented on #29
I think you answered the comment above very similarly to what I would. Initially I thought about encoding b-parasite's data into the "manufacturer specific data" section of the BLE advertisement packet. But for that I believe we'd need a registered [company ID](https://www.bluetooth.com/specifications/assigned-numbers/company-identifiers/). To avoid stepping on other people's toes, I instead opted

[2022-03-13 20:08] jhbruhn commented on #29
Checking the Mac bytes seems like a good idea as long as the Mac address matches the one provided. But at least for the HA plugin, that seems to be the case. I will implement that check as soon as the new format is finished.

[2022-03-15 07:58] #29 closed

[2022-03-25 01:08] JoelWise opened #31 "Battery life estimates using NRF Power Profiler Kit II"
These are measurements of hardware version 1.2.x with the latest firmware, no LED blink on wake-up and a 3.0V nominal voltage.

https://www.nordicsemi.com/Products/Development-hardware/Power-Profiler-Kit-2

startup:
![b_parasite_startup](https://user-images.githubusercontent.com/23020806/160034660-924401e5-7752-4795-9f84-27533f0ed046.png)

1 minute of deep sleep:
![b_parasite_1m_deep_sleep](https:

[2022-03-25 17:49] rbaron commented on #31
That's super cool to see. Thanks for documenting it! I will link this issue on the README.

Thank you!

[2022-03-27 19:51] JoelWise opened #32 "Cpara1 missing from parasite.csv BOM"

[2022-03-27 21:37] rbaron commented on #32
That's expected. There should be no component there - I just use the footprint for testing/measuring.

[2022-03-27 21:37] #32 closed

[2022-03-29 10:04] a83r opened #33 "Conformal coating / Case"
Hi,
I want to use the sensor outside on my balcony. Would it be possible to coat the pcb and what parts would I need to spare?
Regarding the case, is there any issue with temperatures, is there any max temperature which shouldn't be exceeded?
Thanks a lot for providing the whole informations and the project itself!

[2022-03-29 10:37] Ianszh commented on #33
Dito

[2022-03-29 18:17] a83r commented on #3
Hi,
help would be appreciated.
JLCPCB "corrected" the layout. I see they changed part Q4 and U2 is this correct? As I understood that Q4 has the correct position what is with U2?

First is the original

![Produce_DanZhi SMT_Original_Snapshot Top 4325222A_Y5 SMT0220328688165 (1)](https://user-images.githubusercontent.com/53919998/160678244-1cd2fae6-7e33-4528-b57d-4aaf9d367beb.png)

Second is correc

[2022-03-29 19:22] a83r commented on #3
Ok, I checked myself with PCBEditor and found that U2 is in the second picture correct but Q4 in the original.

[2022-03-29 19:52] rbaron commented on #33
Hi @a83r,

I have only experimented with acrylic coating so far (details in this [twitter thread](https://twitter.com/rbaron_/status/1491467468996431873)). Nowadays I tend to coat only the bottom half of the PCB with this [PLASTIK 70 spray](https://www.farnell.com/datasheets/318249.pdf). I would love to test epoxy dipping, but I haven't had the chance yet.

As for the case, it depends on the type

[2022-03-29 19:56] a83r commented on #33
So I could coat the whole PCB? Sparing the battery holder and the 2 lanes going down?

[2022-03-29 20:02] rbaron commented on #3
@a83r,

can I ask you to please crop/resize those images? Thanks.

On the comment above yours, @janpfo and I discussed this same issue with Q4. The conclusion was that Q4 was originally correct. @janpfo did you manage to order the boards? Was the orientation of Q4 correct? Thanks!

U2 seems to be correct in the corrected version - the dot should align with the footprint.

[2022-03-29 20:03] rbaron commented on #33
I tend to coat only the bottom half of the board and use a case. If you coat the whole board, I would avoid the battery holder and the temp sensor.

[2022-03-29 20:09] a83r commented on #33
Thanks again! I will try to coat it. Funny rotisserie you build there.

[2022-03-29 20:21] rbaron commented on #33
Let us know how it goes! Hopefully I can get around to set up a wiki page to document all of our efforts with coating. Good luck!

[2022-03-29 20:21] #33 closed

[2022-03-29 20:43] a83r commented on #3
@rbaron It looks like that JLCPCB spins U2 in the original picture (maybe a bug?) but shows it correctly in the corrected version. But in the DMF overview, they don't state that they changed Q4 only U2.

I cropped the pictures, sorry I was little panicked as I didn't expect them to ask such questions....

This is how my DMF Overview looked like:
![image](https://user-images.githubusercontent.com/5

[2022-03-29 20:50] rbaron commented on #3
No worriees @a83r. It's usual that they analyze and suggest these adjustments. Just to be clear, U2 seems correct in the _corrected version_. The difference is in the red dot. In the second (correct version), it correctly aligns with the footprint dot. The convention is that the dot identifies the pin 1 of the package, so they should match.

[2022-04-10 14:15] janpfo commented on #3
Sorry for my

Sorry for my late reply. Can confirm that 4/10 boards that I ordered works.

If you are soldering the nrf chip, don't do the same mistake as I did. Use flux when soldering and apply solder to the pad before soldering the chip. Learned that the hard way 😅

[2022-04-28 01:52] drspangle commented on #3
I just placed a batch order for 15 of these. I had to order the BTLE chips from AliExpress, but I managed to get a significant bulk discount. Hoping I'll be able to get at least 10/15 brought up. I'm also working on ordering the cases from Shapeways, they're very expensive as a one-off order so I'm hoping I can get a bulk discount. Anyone know where I can get the cases 3d printed (FDM or SLA are b

[2022-04-28 02:02] drspangle opened #34 "Minimal Case Design"
I've been working on getting a bulk order of these sensors together for a home garden sensing project, and I've noticed that it might be possible to drastically reduce the amount of material used in the case without compromising the overall design. Is there any chance that someone with access to a 3d printer might want to take a crack at prototyping? I'm afraid I'm using an outsourcing service for

[2022-04-28 02:02] drspangle commented on #34
Also, could anyone provide the original design files for the case? I can't import the STEP file into Fusion 360.

[2022-04-28 06:27] rbaron commented on #34
@drspangle did something recently change in Fusion 360? I am able to import the STEP file. I'm on version 2.0.11894 on macOS.

[2022-04-28 10:49] RAYs3T commented on #3
@drspangle Any chance you want to sell 2-3 of these? :) - I could also offer to print you some cases in black or white PLA with my Voxel 3D printer.

[2022-04-28 11:35] a83r commented on #3
@drspangle

Hey, I ordered 15 cases at [craftcloud ](https://craftcloud3d.com/) I paid for all of them with PETG (translucent) 46€. Mabye you give it a try aswell?
For future reference, you can buy the chips from Ebyte directly on [alibaba](https://www.alibaba.com/product-detail/E73-2G4M08S1C-Small-Size-Integrated-ARM_62096319088.html?spm=a2700.shop_plser.41413.12.8c1676b9BNaVZd) I paid for 15 pie

[2022-04-28 11:42] a83r commented on #20
For future reference, on my j-link edu mini board the cable needed to plugged in like that:
![IMG_6131](https://user-images.githubusercontent.com/53919998/165744612-5f9d5e19-388f-4e76-b589-f872df090c78.jpeg)

[2022-04-28 14:23] drspangle commented on #34
I'm not sure. I'm using version 2.0.12888 on Windows 10. When I try to import the STEP file it just hangs. I'll give it a try again today and see if I can't make it work.

[2022-04-28 14:30] drspangle commented on #3
@RAYs3T Let me see if I can bring them up, first. I just placed the PCB, battery clip, and chip order today (got them from AliExpress for about the same price as @a83r quoted). It will take a few weeks for this all to arrive. I will update when I've got these in hand. I'd also like to see if I can update the case design to use less material (see #34) but I'm running into issues there. We can maybe

[2022-04-28 16:58] antonio-fiol commented on #3
@drspangle where are you based? I'm happy to print all your 15 cases in PLA if I can get a couple of boards from you (is that reasonable?), but afraid that shipping cost to/from Madrid, Spain may break the deal.

[2022-04-28 16:58] rbaron commented on #34
@drspangle unfortunately I haven't ran any comparative tests for the humidity sensor with and without case. It would be interesting to come up with a case design that allows for better airflow in case this is an issue, while still protecting the board well.

For the illuminance sensor, if you want to use a case, my best suggestion would be to print it in a transparent material.

[2022-04-28 17:15] drspangle commented on #3
@antonio-fiol I'm in the USA, so I don't think this will work. All the same, perhaps you could 3d print my updated design and let me know if it fits the sensor? I actually didn't reduce the amount of material much, but I did add some features designed for the 1.2.x hardware iteration (battery clip shouldn't matter).

There are added holes to permit gas exchange for the humidity sensor, a new cutou

[2022-04-28 17:26] drspangle commented on #34
I think I've managed to get a few useful features implemented in the design, so that it doesn't have to be printed in a transparent material (but conformal coating, even the cheapest that can be found, would be recommended). This way the sensor should hold up better to splashes or even possibly outdoor use, provided it's used in less damp climates. You can find this in #35. I've asked other users

[2022-04-28 17:45] JoelWise commented on #34
You might want to take some design inspiration from [weather station shields](ttps://www.google.com/search?q=weather+station+shield) to maintain temp and humidity accuracy.

I've also seen prints with a 1.75mm hole so a clear piece filament pressed and glued into it as a light pipe. Maybe a good idea for the light sensor and led.

[2022-04-28 17:52] drspangle commented on #34
This is a nice idea, but it runs a bit counter to my "reducing the amount of material" goal. To be honest I think the current interference-fit clamshell case design is a good one, the main areas where water infiltration is an issue is the programming pads and the battery connector, the rest (including the photoresistor) can be conformally coated and become effectively waterproof cheaply and easily

[2022-04-28 18:17] JoelWise opened #36 "Add pushbutton to design"
I think it would be useful to have a hardware de-bounced pushbutton added to the design. There appears to be room above the coin cell battery.

One idea is to have the sensor broadcast an additional data-point of 'dry set point'. When you press/hold the button the current moisture level is published. Then you could use this in automations to know when the plant needs to be watered. Or you could us

[2022-04-28 18:30] drspangle commented on #36
I'm not sure what advantage this would have over a software based solution. There seemed to be some discussion about this in #21 and it might be worth revisiting this. My take is that the sensor shouldn't also be a user interface device, rather the orchestration should have this built in. The device running as the MQTT broker could just as easily serve the channel that lets you know when a specifi

[2022-04-28 18:55] JoelWise commented on #36
For a device who's primary function is to monitor moisture levels I think it's a big win to make it easier to set dry points. I already do this in software through home assistant but I can't help but notice home much time it takes to enable such a basic feature.

Of course it would be optional to even install the pushbutton just like the light sensor. And impact to battery level is zilch if you se

[2022-04-28 19:03] JoelWise commented on #34
Sounds cool. I'm all for having an improved case design! I'd love to have a 'hat' case that just securely slides on from the top that copies the design of weather sensor covers. Combined conformal coating it could work really nice!

[2022-04-28 19:25] JoelWise opened #37 "Some photos of b-parasite in the wild"
![vp1](https://user-images.githubusercontent.com/23020806/165829858-c4c8245b-729e-45d4-934a-26d04f010e04.jpg)

![vp2](https://user-images.githubusercontent.com/23020806/165829911-f948c1a9-7966-4b07-ae50-edaae63e70d8.jpg)

[2022-04-28 19:26] #37 closed

[2022-04-28 20:17] rbaron commented on #19
Thanks for sharing @JoelWise!

[2022-04-28 20:27] JoelWise commented on #19
partial conformal coating!

![vp3](https://user-images.githubusercontent.com/23020806/165839788-70353a20-018a-44c3-b492-22542760b707.jpg)

![vp4](https://user-images.githubusercontent.com/23020806/165839811-47cfc994-0964-47bc-a3c8-0ee004013ca7.jpg)

[2022-04-28 20:29] drspangle commented on #19
@JoelWise Looks fantastic. I opted for the black PCB too! Did you coat both sides, and what parts were masked/uncoated? This is acrylic conformal coat, sprayed on, right?

[2022-04-28 20:38] JoelWise commented on #19
MG Chemicals 419D acrylic brushed on both sides. I just masked right below the battery contact. There is a visible line where the coating ends. TBH I'm not happy with the result. After some time in the soil there was a lot of white bubbling under the coating. I'm not sure if water is seeping in or there is just some separation while remaining sealed. Spraying is real mess that I don't have the spa

[2022-04-28 21:02] JoelWise commented on #36
[Capacitive touch sensing pad](https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.sdk5.v12.0.0%2Fhardware_driver_csense.html&cp=4_0_0_2_1) but it would be hard to use if you use a case. Or a [small reed switch ](https://www.digikey.com/short/bm0020d5)activated by strong magnet.

Though, I think a normal push button would be fine for most applications! Not everyone expects t

[2022-04-28 21:06] JoelWise commented on #19
some slightly abused citrus seedlings:
![vp5](https://user-images.githubusercontent.com/23020806/165845678-57d9260c-01aa-47bd-9bfe-5604fc317668.jpg)

[2022-04-28 21:24] drspangle commented on #36
The problem with ordinary pushbuttons is that if they start to intermittently short when they get wet, even a debouncing circuit or software debouncing will not be effective to prevent false buttonpresses and that can cause serious problems if the button does something important like setting calibration modes and things of that sort. I do like the idea of the reed switch a lot.

How do you envisio

[2022-04-28 21:54] JoelWise commented on #36
That makes sense. It's pretty simple to add some pads for an optional button and you could design the footprint to be compatible with more than one button type (push, reed, capacitive). And the button could be disabled altogether during compile if someone is that worried about false presses. I know this adds even more complexity to the project so it's OK if doesn't happen! I'm not doing the work a

[2022-04-29 07:40] antonio-fiol commented on #3
Well, I could certainly print it, but I don't have a sensor yet, and I don't think I have need for a large batch.

[2022-04-29 19:07] hallsny commented on #34
I designed a  single piece thin wall l cap out of black ASA  that slides on over the upper section of the sensor.  The goal was to protect against water ingress for the upper section  via no additional case seams ( these will be outside 24/7  with automatic watering )  The bottom is open to allow some airflow, but the temp swings from sunlight limit the effectiveness of the temp/humidity measureme

[2022-04-29 19:14] drspangle commented on #34
The humidity levels are dependent on temperature since I think it measures relative humidity, so that's why my updated design has air holes to promote freer gas exchange. It would be great to be able to more scientifically test the benefits and drawbacks in terms of these different case designs against one another.

[2022-05-01 16:12] jhbruhn opened #38 "Add conductivity measurement"
It seems that soil conductivity is an indicator for nutrient-content of the soil. If my understanding is correct, it could be realized via a simple soil-resistance measurement, where the electrodes are spaced with a known distance.

As exposing bare copper would lead to very easy corrosion there, the electrodes could be realised via (stainless steel) screws which are screwed into electrode-screw-h

[2022-05-01 17:08] drspangle commented on #38
You're still going to see galvanic breakdown of something in this circuit due to corrosion. Even though the stainless is unlikely to, this will more likely cause copper up the line to corrode. If you really really want to measure this way, using sacrificial anodes might be the way to go. I'm not sure that will ultimately be a workable solution for you though.

[2022-05-01 17:17] drspangle commented on #36
I think it's a neat idea. I'm not sure there are any pins broken out that we could add a switch to, but I get the impression that this could potentially be a useful addition.

[2022-05-01 17:23] jhbruhn commented on #38
A low maintenance solution would be preferable of course.
I wonder what the MiFlora sensor is using as an electrode then, it does look like some kind of metal rivet.

[2022-05-02 22:41] JoelWise commented on #34
Can you share the design files? This would be a great base to build a pagoda-style cover that I suggested earlier.

[2022-05-02 23:15] JoelWise commented on #38
The TTGO T-Higrow tries to do capacitance and conductivity in one sensor too. No clue of they are easy to implement or even reliable. A round dome switch is the only standard component that might work as a pick and place solution.

[2022-05-03 00:39] hallsny commented on #34
I had a go at a higher airflow  printable cover. This should be printable upside-down as long as the printer is set up to bridge gaps and can print a 30 degree overhang.

<img width="470" alt="image" src="https://user-images.githubusercontent.com/86334171/166365146-02462ec0-66c6-4003-b4bf-3a8c81ac9eb6.png">
<img width="317" alt="image" src="https://user-images.githubusercontent.com/86334171/166365

[2022-05-03 20:54] JoelWise commented on #34
You beat me to it! Quite the upgrade! Printed in PETG. Good fit at default size but maybe be better at 101%.

![vp7](https://user-images.githubusercontent.com/23020806/166563860-b75ca841-636b-4ee1-8184-bf24bc35283b.jpg)

![vp8](https://user-images.githubusercontent.com/23020806/166563858-c3f34f32-f8b2-4200-a3b9-d1f468f069b1.jpg)

[2022-05-03 21:04] drspangle commented on #34
Impressive work!

I take it that transparent PETG or similar material is required to make use of the photosensor?
Do you see a noticeable difference in the temp/humidity readings with this case versus without, or versus other case designs?

[2022-05-03 21:28] JoelWise commented on #34
I used PETG because my printer was setup for it. I would use white PLA but I don't have any at the moment!

I have found the photosensor to be useful only when the probe is monitoring small nursery plants since other larger plants' leaves shade the sensor. Ambient temp readings seem to be unaffected. Humidity reading are 10-15% above ambient but that is to be expected from a sensor that sits just

[2022-05-04 06:50] rbaron commented on #34
@hallsny that case looks gorgeous! Would you consider submitting a PR with it? Thank you!

[2022-05-05 01:44] JoelWise commented on #34
@hallsny I'm still interested in getting a copy of the slim case if possible. Thanks!

[2022-05-05 05:52] hallsny commented on #34
I would like to make some design update first and then can submit a PR.

 In general the difference  between the  high airflow case and my standard cover has been minimal in a side by side comparison. 0 is high airflow, 1 is standard, and 3 is a sensor with a normal cover in a  different shaded spot (low sun control). I may try opening up the sides to get more airflow through the cover.
<img width

[2022-05-05 19:55] JoelWise commented on #34
Thanks!

Maybe humidity readings benefit more? The airflow case is still pretty slim and probably needs to extend far further to give the needed shade. Even then, the sensors are right at ground level which doesn't seem ideal if you expect accurate ambient readings. I'll share some of my own comparisons in a few days.

[2022-05-05 20:04] drspangle commented on #34
I'm starting to come to the conclusion that there are fundamental trade-offs between getting good light measurements, and the sensor's ability to read soil moisture and air humidity. In an ideal world, the light sensor would be someplace away from the device, but that would make it a piecemeal solution (perhaps a separate sensor solely for light/temperature/humidity readings is worth investigating

[2022-05-05 20:28] JoelWise commented on #34
I always have viewed the other sensors as fun-to-have. They cost next to nothing to add and implement if you don't have a need to extreme accuracy. Moisture sensing ease and accuracy is #1. If anyone starts to have big redesign requirements then it's time to fork and roll your own.

[2022-05-05 21:13] drspangle commented on #34
I think that totally makes sense and is the same philosophy I have arrived at. The reason why I decided to look into this project was the capacitive sensor, the comms, and the prospect of long battery life -- not the other sensors.

Once I've brought up some of these boards and tested them out I'll probably take a crack at a fork for the sunlight and temperature measurements on a separate board, b

[2022-05-07 09:28] pit34 opened #39 "Mosfet instead of Q2 and Q3 bipolar?"
Hello,

I ask myself why does Q2 and Q3 are bipolar tranistor and not mosfet ?
There is an explanation of operation here :
https://wemakethings.net/2012/09/26/capacitance_measurement/
But not why bipolar instead of mosfet to discharge the capacitor.

Thanks

[2022-05-07 11:08] rbaron commented on #39
Hi @pit34,

I think a MOSFET would work as well, possibly with fewer passives. But if I were to rework the electronics, I would probably go with an Op-Amp instead of rolling out my own amplifier with discrete transistors.

[2022-05-07 11:08] #39 closed

[2022-05-07 11:58] pit34 commented on #39
Thanks @rbaron
Can you tell me more about your Op-Amp solution?
I can't see why a mosfet after R1, acting like a simple closed switch when square wave is low, are not the simpliest and "best" solution ? Why using amplifier?
Thanks in advance

[2022-05-07 12:28] rbaron commented on #39
There are two things here:
- Q3 is already a p-channel MOSFET. It's used to protect the circuit from sticking the battery in the wrong way (reverse polarity protection);
- Q1 & Q2 (that's Q2 and Q3 in the article you linked), are used to improve the low-pass filter & integrator, so we get a bigger swing on the output (the article explains why)

So the circuit works without Q1 and Q2, but it has sm

[2022-05-07 12:58] pit34 commented on #39
My apologies, I haven't seen the differences between the articles and your schematic... I though it was a fork. Sorry.
I understand your Op-Amp solution, and why Q1 and Q2 are used to improve dynamic range.
But I still not understand why you too use bipolar for your Q1 and Q2 instead of a p-mosfet. Sorry if this is a stupid question..

Another question, why using a "FAST_DISCH_EN" signal instead o

[2022-05-07 13:06] rbaron commented on #39
@pit34 you can find many resources on BJTs vs MOSFET on the web. In this particular case like I said, it doesn't matter too much - either should work I believe.

The FAST_DISCH_EN signal is essentially 3.3V, but it's software enabled so it doesn't drain the battery during deep sleep. The signal on the base of Q1 (Q3 in the article) is still the PWM signal.

[2022-05-07 13:09] pit34 commented on #39
Thanks for your reply. I understand this part now ;-)

[2022-05-12 20:27] JoelWise commented on #34
Temp and humidity vs local weather service using the high airflow case. The probe is in a 5L pot and mostly shaded. Local weather is mostly cloudy, rainy, and cool.

![vp10](https://user-images.githubusercontent.com/23020806/168161862-c4592644-726b-4a3b-a94a-3bddb4645c97.JPG)
![vp11](https://user-images.githubusercontent.com/23020806/168161873-ce98e44d-2ac3-4637-bf6a-04f13f7228fe.JPG)

[2022-05-17 11:15] tispokes opened #40 "Mistake in wiki https://github.com/rbaron/b-parasite/wiki/How-to-Program#using-the-swd-power-supply"
GND is listed twice. Should be Vcc I guess :-)
@ https://github.com/rbaron/b-parasite/wiki/How-to-Program#using-the-swd-power-supply

[2022-05-17 12:39] tispokes opened #41 "Ordered 10 pcs from JLCPCB to Germany - do not need 10 - is there a platform for interested parties?"
Hi,

the minimum quantity was 10 pcs because the SHTC3 was only available with a minimum of 10.
Is there some market place for this item?
Like to share the cost with no margin if someone need e.g. 5 pcs in Europe.

Don't know how it does behave with CC BY-SA 4.0 license and selling these PCBs (w/ or w/o software preinstalled)

[2022-05-17 12:47] tpulatha commented on #41
Hi, I would be interested. Do you want to DM me on Twitter? Twitter.com/timurp

[2022-05-17 12:48] tispokes commented on #41
@tpulatha sure, as soon as I got the ok from @rbaron

[2022-05-17 21:29] rbaron commented on #41
Hey @tispokes, absolutely. Both the hardware and software licenses allow for this, as long as attribution is maintained. I'm happy to see people sharing their surplus units with others.

Happy hacking to both of you! And please consider sharing some pics with us in the "Community Gallery" issue when you get your boards up and running 👌

[2022-05-17 21:29] #41 closed

[2022-05-18 08:01] tispokes opened #42 "Orientation of Q4 (Photoresistor) on v1.2.0 - JLCPCB is asking"
Hi, got this mail from JLCPCB:
[code]

![image](https://user-images.githubusercontent.com/45465820/168987793-1adb8f6d-b9f7-4144-bbbd-bdebdaa71615.png)
![image](https://user-images.githubusercontent.com/45465820/168988731-211897eb-e7f4-4f07-97c1-fed9ba1e0871.png)

I used the latest `parasite.csv` as BOM and `parasite-top-pos.csv` for positioning.
As I'm not so good in reading schematics, I Prefer t

[2022-05-18 18:34] rbaron commented on #42
tl;dr: Q4's collector goes on the left. The original position is correct and JLC's suggestion is not.

Often engineers from JLCPCB will suggest this change (see #3). I just made two changes to help with this confusion:
1. Made the footprint dot for Q4 (which represents the collector, sometimes annotated with a `+`, with a `|` or with a `C` by JLC ) more visible (it's partially cropped in JLCPCB's

[2022-05-18 18:34] #42 closed

[2022-05-18 18:38] rbaron commented on #40
Tks @tispokes. It's fixed now.

[2022-05-18 18:38] #40 closed

[2022-05-20 07:01] tispokes commented on #3
Has anyone thought about the surface finish? Isn't the cheapest finish non-leadfree and maybe bad for the plants? Or even worse if you grow herbs?

[2022-05-24 16:34] karwosts opened #43 "Are there J-Link alternatives?"
Hi, just wanted to say I love the idea behind this project, and hope to someday obtain some of these for myself.

I wanted to know if you've ever explored any alternatives to jlink debuggers for programming? Given that these devices aren't really available for sale anywhere (cheaply), if we're expecting everyone to fabricate their own devices, obtaining the debugger is a pretty high hurdle to clea

[2022-05-24 17:43] JoelWise commented on #43
This could be what you are looking for: https://devzone.nordicsemi.com/nordic/nordic-blog/b/blog/posts/flashing-and-debugging-nrf5152-with-a-cheap-blackm

[2022-05-24 17:53] rbaron commented on #43
For hobbyists and makers, the best solution in my opinion is a J-Link EDU Mini. It's around $20, when it's available (I see a couple on digikey, Adafruit & Mouser are sold out). It just works. You can't use it for anything commercial.

I can't recommend cheap clones from Ali express. In my experience they are only cheaper if you don't value your time.

Some open source alternatives I'm interested

[2022-05-28 21:46] drspangle commented on #43
Got the first board soldered up just now, so I'm one step away from testing the SINKR (it's really a ULINK-2). Once I get a pogo pin clip set up I'll let everyone know how it goes.

[2022-06-16 14:50] macourteau commented on #19
First b-parasite monitoring a Dracaena plant that doesn't get enough attention:
![IMG_5819](https://user-images.githubusercontent.com/4503886/174096859-5a5916f9-6a22-4bc6-baf9-0684c1aef7e6.jpg)

Black silkscreen, spray-coated MG 419E acrylic conformal coating. 🙂

[2022-06-17 15:17] DigiH opened #44 "Theengs Decoder integration"
Hi @rbaron and all,

great project! I only stumbled across this recently through another user and have just submitted a decoder PR to Theengs Decoder

[Theengs Decoder](https://github.com/theengs/decoder)

a BLE decoding library which can be used on micro controllers (ESP32, ESP8266, Arduino), and on Windows or Unix machines. It's also the BLE decoding basis for

[OpenMQTTGateway](https://github.c

[2022-06-21 09:50] Coalado opened #45 "ESP32 with ESP Now"
Did you ever test ESP now an an ESP instead of WIFI and maybe 2x1.5 Lithium AA batteries as power source?

BLE has a very bad range in my tests, and ESP now might be better and still save a lot of energy compared to WIFI.

[2022-06-21 17:16] rbaron commented on #45
Hey @Coalado, that's an interesting idea, but this project doesn't use an ESP32.

[2022-06-21 17:16] #45 closed

[2022-06-27 17:51] chucknorris101 commented on #3
Hi - relative newbie to all this, but the directions seem pretty straightforward! Thanks!

I did have one question, on surface mount soldering the [NRF](https://www.aliexpress.com/item/2255800325518663.html?spm=a2g0o.productlist.0.0.cca611a3AmpbMk&algo_pvid=56dd3f44-215d-45b8-8a86-b39529230456&algo_exp_id=56dd3f44-215d-45b8-8a86-b39529230456-0&pdp_ext_f=%7B%22sku_id%22%3A%2210000002492860862%22%7D

[2022-06-27 19:06] rbaron commented on #3
@chucknorris101 they are not used. Happy hacking!

[2022-07-02 00:28] ryanmillerwork commented on #43
I'm working on using option 2 from this list. Things have gone well except I'm unclear on how to flash the 2 files (SoftDevice and b-parasite). I think I need to use an offset for the flash address but I'm not sure what that offset should be. I tried specifying an offset of 0x2700 for the SoftDevice as per https://devzone.nordicsemi.com/guides/short-range-guides/b/getting-started/posts/adjustment-

[2022-07-06 15:45] mjeanrichard opened #46 "Transmission Range"
HI,

Thanks for your Work. I created 10 of the version 1.2 bParasites and they work great. Except that the range is very limited. I can place my ESP32 (with ESPHome) no more that 10 meters (line of sight, no Walls) away from the bParasite before the connection drops.
Is anyone having similar Issues? Or is this the expected Range?

I think I already us the most powerfult Trasmission setting (PRST_B

[2022-07-06 18:39] rbaron commented on #46
Hi @mjeanrichard,

I'm glad to hear they're working (consider contributing to your community gallery #19!).

There are three params you can tweak in [prst_config.h](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/config/prst_config.h):
- `PRST_BLE_ADV_TX_POWER` (already set to max by default)
- `PRST_BLE_ADV_TIME_IN_MS` - the amount of time it spends advertising (repeating the same

[2022-07-07 04:47] mjeanrichard commented on #46
Ok, thanks for the suggestions. I will try to fiddle with the parameters.

What is the range you get out of yours?

[2022-07-14 14:22] DigiH commented on #44
Closing, now that the b-parasite decoder is in the Theengs Decoder v.5.0 release

https://github.com/theengs/decoder/releases/tag/v0.5.0

Thanks

[2022-07-20 02:46] mphilipp622 commented on #3
Hey, all, I'm trying to order through JLCPCB and I don't see anywhere to submit the BOM information. I go to their quote page and provide a zip file containing the gerber files from the kicad directory for the PCB. I can save these to my cart but I am never asked for the CSV files at any point. Am I supposed to submit the order first and then it asks for that info?

Some specific step-by-step inst

[2022-07-25 17:23] chucknorris101 commented on #43
Im pursuing the same thing - and i re-read the softdevice detail again - that 0x27000 is where the softdevice expects the program to be! Im still trying to work out where the softdevice needs to go - [per another doc](chrome-extension://oemmndcbldboiebfnladdacbdfmadadm/https://infocenter.nordicsemi.com/pdf/getting_started_nRF5SDK_ses.pdf) it looks like 0x1B000, but i havent gotten a chance to test

[2022-07-25 18:26] rbaron commented on #43
I haven't messed with any of these alternative flashing methods, but here are some tricks we can use to determine the flash addresses:

The SoftDevice is the first thing that runs, and should live at address `0x0` (see datasheet, [docs from Adafruit](url)). They will eventually hand over control to our own application, and different SoftDevice versions [expect the application to live at different

[2022-07-25 18:35] drspangle commented on #43
It's been a while since I've chimed in on this thread but I'll just say that I agree with @rbaron that the J-Link seems to be the best way to do this. I have yet to experiment with using bitbanging or an ESP32 to program the device, but my experiments so far with the Sinkr ARM programmer have been a failure. Even getting the tools working is a challenge. I hope folks have success with alternative

[2022-07-25 19:37] ryanmillerwork commented on #43
Thanks rbaron and chucknorris101. I had actually tried putting the s140_nrf52_7.2.0_softdevice.hex at 0x0 and nrf52840_xxaa.hex at 0x27000 but either (a) it wasn't actually flashing because it was in sleep mode or something similar mentioned in the docs here or (b) it actually did work and I didn't realize it.

I modified prst_config.h to:
[code]

Hoping to see blinks but...no lights. Maybe I'll t

[2022-07-25 19:56] rbaron commented on #43
@ryanmillerwork I believe if you want to flash the raw firmware data directly, you'd need a `.bin` file, not an `.hex`. The hex files are text files and contain extra data that gets processed before being written to flash. There are tools to convert an `.hex` to `.bin` - we have the `.bin` for our application as an additional output in `_build/`, but we don't have it for the SoftDevice.

[2022-07-25 20:29] chucknorris101 commented on #43
The SWD esp32 guy just uses a hex2bin exe type program to convert files to bin type if there isnt extraneous information. NRF forum seems to imply thats possible with the softdevice, but it also discusses a separate bootloader in that post, is the bootloader included with the .bin in parasite makefile?

[2022-07-25 20:49] rbaron commented on #43
@chucknorris101 no, the .bin is just the b-parasite firmware, that like we saw, needs to be flashed after the SoftDevice (which itself contains the bootloader).

[2022-07-27 15:33] chucknorris101 commented on #43
my first attempts at soldering the nrf on did not go well (not recognized by the flasher so im missing some connections on the solder end...fat fingers) and havent had a chance to fix to trial these options.

But i did find this: https://infocenter.nordicsemi.com/index.jsp?topic=%2Fsds_s140%2FSDS%2Fs1xx%2Fmbr_bootloader%2Fmbr_bootloader.html

NRF doesnt see the softdevice as a bootloader per se, b

[2022-07-29 13:11] chucknorris101 commented on #43
I think the nrfjprog is calling the nrfutil fuinctions. trying to get those installed was a pain, but i think that im close - just running into flags with what it asked me to input. @ryanmillerwork if you want to poke around a bit. It seems to be the function that combines the soft device and firmware and creates the bootloader...or so it seems. the output is a zip that would then be able to be fl

[2022-08-02 19:04] chucknorris101 commented on #43
@rbaron it seems nrfjprog can read the flash memory of a chip as well and dump to a file, would you be able to read a completed chip file and post here for comparison? maybe can see what addresses to load in the nrfutil outputs from the other pokings around.

I have an ESP-Prog on the way from sparkfun, which might just be the only link we need, since nrfjprog/nrfutils do all the work, not the emb

[2022-08-02 19:12] mjeanrichard commented on #46
My insights after a some testing and trials:
- Enabling Bluetooth 5 Long Range might help (no exact measurements yet)
- Some other optimizations in code might help as well
- Removing the Chip Antenna and soldering a wire with the appropriate length make a HUGE difference

I'll follow up with some measurement (power consumption and range).

[2022-08-03 19:58] perja12 commented on #19
![b-parasite-perja](https://user-images.githubusercontent.com/11503258/182696774-15aea21a-dafc-4b83-8c05-967a0f003a9f.jpg)

Made my first version of the b-parasite with a couple of changes. I replaced the programming header with Tag Connect footprint and added in a reed sensor (not soldered yet) that can be used to f.ex. trigger a reading. I saw that this was discussed in one of the issues. I plan

[2022-08-03 21:23] rbaron commented on #46
@mjeanrichard I've been meaning to experiment with Coded PHY for a while. I added a new flag [`PRST_BLE_EXPERIMENTAL_LONG_RANGE`](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/config/prst_config.h#L57) that will switch the advertising PHY to use Coded PHY.

I only had time to run a quick test:
- In one b-parasite, I set `PRST_BLE_EXPERIMENTAL_LONG_RANGE` to `1`
- On a different b-

[2022-08-03 21:39] rbaron commented on #43
@chucknorris101, this is the firmware dump from a working b-parasite that was compiled with the default prst_config.h.

Command I used:
[code]

I had to zip it so GitHub let's me upload it: [firmware-dump.bin.zip](https://github.com/rbaron/b-parasite/files/9255182/firmware-dump.bin.zip)

Hint: Run `hexdump -C firmware-dump.bin | less` and correlate the start of the SoftDevice and the application w

[2022-08-08 14:11] chucknorris101 commented on #43
Thank you! I will review tonight sometime.

In the meantime, the ESP-PROG option wasnt working, or at least was beyond my beginner level approach, in theory the FTDI chip should be able to be recognized/passthrough NRF contact with the right drivers/firmware update?, but i wasnt able to get the PC or any of the debugger software to recognize as such.

For those struggling to get a j-link - i poste

[2022-08-08 17:33] rbaron opened #48 "Major battery life improvement"
It turns out the SoftDevice lets us put our application in deep sleep while it keeps advertising.

In the current firmware, we have [this piece of code](https://github.com/rbaron/b-parasite/blob/8fd4d7222af9b58073561325c0e873f301d20f42/code/b-parasite/src/main.c#L83):
[code]
We can change it into something like this:
[code]

### Impact in power consumption
To see the difference, I set:
[code]

Bef

[2022-08-08 19:41] JoelWise commented on #48
Very cool! Has this been completely implemented in sleep-adv branch yet? The code still seems to just delay during advertise rather than deep sleep.

prst_adv_start();
nrf_delay_ms(PRST_BLE_ADV_TIME_IN_MS);
prst_adv_stop();

[2022-08-08 19:58] rbaron commented on #48
@JoelWise yes, it's implemented in full there. The old delay has been removed - you can check the [`main.c`](https://github.com/rbaron/b-parasite/blob/5cfd69479a315078a2802253cea685ed24289380/code/b-parasite/src/main.c) in that branch.

It's a little different from what I illustrated in the issue here. The firmware wakes up from deep sleep after a timer. So when it wakes up we just need to check w

[2022-08-08 21:37] JoelWise commented on #48
Got it. I flashed one of my probes and found similar battery life results. My Power Profiler suggests at a default 5 minute update frequency the change improves battery life by 3x!

![image](https://user-images.githubusercontent.com/23020806/183518394-7bcc8d5f-36a0-4a9f-9aec-35602f2e42b0.png)

![image](https://user-images.githubusercontent.com/23020806/183518642-3b0b677b-52fa-4a07-9f43-44126fa4539

[2022-08-11 06:44] rbaron commented on #48
I've reflashed all my b-parasites with this code and I'm happy to say they've been working well. I merged #49, but I'll leave this PR open for a while for visibility.

[2022-08-11 17:25] chucknorris101 commented on #43
The DevKit works! at least, it works because it is a j-link. after setting up the nrf connect desktop (maybe not necessary) and setting up the nrfjprog toolchain on my cmd line, i was able to flash consistently with this setup:
![DK pinout](https://user-images.githubusercontent.com/25339204/184195090-e9428368-eec8-4aa4-a9ac-0d551c3c0083.png)

**Without these connections it wouldnt recognize the bo

[2022-08-11 18:36] chucknorris101 commented on #43
**This file can be directly flashed to 0x0 with the esp32 swd flasher and result in a working bparasite!!!**

The bin that is. I havent been able to pull it apart yet, but when ive been tinkering with the sdk, the jlink/nrfDK seem to know that the softdevice has a MBR associated, that gets generated when the nrfjprog gets called, at least when i point the nrfconnect to the DK, it shows a soft devi

[2022-08-13 03:43] chucknorris101 opened #50 ""Increasing" moisture?"
I have a few parasites flashed with different intervals to trial the signal pickup and for the most part it seems to be working well....but the data for the moisture being recorded by the log seems to be running in a strange direction. This one has the most data, but other longer interval sensors seem to be trending the same way. Did I screw something up on the programming? I get the battery volta

[2022-08-13 06:00] rbaron commented on #50
Hi @chucknorris101,

We have discussed this issue in #2 with some hypotheses and ideas to fix it. Tl;dr some initial drift is common and it should go away after a few watering cycles. Conformal coating is strongly recommended for durability (see [here](https://twitter.com/rbaron_/status/1491467468996431873?s=21&t=clUMni-mPAJj7Hxjyg4wZQ) and also helps.

[2022-08-13 11:58] 1technophile commented on #42
Note that with the files from [cc8dcf9](https://github.com/rbaron/b-parasite/tree/cc8dcf92403dc3343cd0ad5bbc1a4e40520965fd), the photodiode is per default oriented in what seems to be the wrong direction, when importing the file with JLCPCB. Before any JLCPCB engineer checks.

![image](https://user-images.githubusercontent.com/12672732/184492973-4fe24eaf-1720-487c-a966-45cc68646a09.png)

![image](

[2022-08-13 13:06] rbaron commented on #42
Thanks @1technophile. I have a feeling the base internal orientation unfortunately changes at JLCPBC from time to time, whenever they update the component model. It was correct when I first set it up and also in the original comment above. If somebody has a better explanation, please let us know.

Please always double check the orientation [with the wiki](https://github.com/rbaron/b-parasite/wiki/

[2022-08-13 13:19] #50 closed

[2022-08-14 15:31] chucknorris101 commented on #2
Thanks for pointing me this way @rbaron!
@AlexSzlavik For the poly coating, is it just the edges or giving it a nice full dip coat?

[2022-08-15 14:09] AlexSzlavik commented on #2
I coated the entire device which worked alright. @rbaron also wrote a blog post about how he did his coating which was great!

[2022-08-15 21:13] chucknorris101 commented on #3
In planning my 'rollout' of sensors around the house, i have alot of smaller pots/plants to track, the original boards were a bit shorter, it seems simple enough to edit the gerbers to shorten them again...

What about shortening the capacitive loop? It would change the measurement/calibration for sure, but wondering what I should avoid when tinkering with the files. If not known, maybe i will ord

[2022-08-16 12:00] binaryhellstorm opened #51 "Flashing Issue"
I've been trying to flash a couple of these PCB's and I am getting this error on one of them

user@box:~/Desktop/b-parasite/b-parasite-main/code/b-parasite$ make flash_softdevice
Flashing: s140_nrf52_7.2.0_softdevice.hex
nrfjprog -f nrf52 --program /home/user/Desktop/b-parasite/nRF5_SDK_17.0.2_d674dde/components/softdevice/s140/hex/s140_nrf52_7.2.0_softdevice.hex --sectorerase
Failed to read devic

[2022-08-16 13:56] chucknorris101 commented on #51
If it helps, I have been assembling with a hot air gun as well and have no issues.

From my poking around with alternative programmers, and with the jlink on the DK working now, if you are getting this message, it at least knows it is an NRF (not cooked) - not being able to read the memories may be due to the chip being locked. Try a nrfjprog -f NRF52 --recover first then the make commands as this

[2022-08-16 16:21] binaryhellstorm commented on #51
Ok, gave that a shot and get this

user@box:~/Desktop/b-parasite/b-parasite-main/code/b-parasite$ nrfjprog -f NRF52 --recover
Recovering device. This operation might take 30s.
ERROR: Recover failed. Please make sure that the correct device family is given
ERROR: and try again.
NOTE: For additional output, try running again with logging enabled (--log).
NOTE: Any generated log error messages will b

[2022-08-16 17:18] chucknorris101 commented on #51
hm - if you run recover cmd with the -log or --log it should give you a log file to poke at to see what is hanging it up, or same thing with the original command.

I still dont think its cooked as it would say that its not an NRF in the earlier command, i would think. I have one board that is still giving me issues in recovery as well - i think its an issue with the soldering, so my plan is to ref

[2022-08-16 18:06] binaryhellstorm commented on #51
I think you're right that it's a software issue. When I run with the --log flag I get

[error]: [SeggerBackend] - JLinkARM.dll reported "-1", "An unknown error.".

Which is weird as I'm on Ubuntu so there shouldn't be DLL's being used at all.

[2022-08-16 23:12] schejbity commented on #51
I had same issue.
Solved with "make flash_loop"
Look in to the wiki...

[2022-08-16 23:56] binaryhellstorm commented on #51
I did see the note in the wiki but it seemed to indicate that was for previously flashed boards, so I ignored it.

I gave that a shot though and I get this output:
nrfjprog -f nrf52 --program _build/nrf52840_xxaa.hex --sectorerase
ERROR: Unable to connect to a debugger.
ERROR: JLinkARM DLL reported an error. Try again. If error condition
ERROR: persists, run the same command again with argument --

[2022-08-17 01:34] binaryhellstorm commented on #51
Got it to work on at least one unit. I think my crap soldering was to blame, in fairness this is my first time doing any sort of SMT soldering that wasn't more in the warranty violating arena.

Thanks everyone for the suggestions and putting up with my dumb questions.

[2022-08-17 01:34] #51 closed

[2022-08-18 11:29] schejbity opened #52 "How to debug?"
When I turn on these variable, where or how can I these debug informations?

[code]

[2022-08-18 20:31] rbaron commented on #52
The firmware is [cconfigured](https://github.com/rbaron/b-parasite/blob/19f9a68b3b8ba1ed619a1f8829b4d243de257591/code/b-parasite/config/sdk_config.h#L7629) to output logs using [Segger's RTT protocol](https://www.segger.com/products/debug-probes/j-link/technology/about-real-time-transfer/).

I use the `JLinkRTTLogger` command line utility to read it on macOS.

[2022-08-18 20:31] #52 closed

[2022-08-22 14:21] SystemFuchs commented on #46
Hi there,

due to the shortage for the chosen [E73-2G4M08S1C](https://www.ebyte.com/en/product-view-news.aspx?id=445) module I opted for the following version with an external ipex antenna socket (all other specs are identical) :

[E73-2G4M08S1CX](https://www.cdebyte.com/products/E73-2G4M08S1CX)

I've ordered the following [IBEX Antenna for 2.4G](https://www.amazon.de/gp/product/B07DC97PMY/ref=ppx

[2022-08-22 21:26] rbaron commented on #46
That's awesome. Thanks for sharing @SystemFuchs.

[2022-08-23 06:55] SystemFuchs commented on #19
![IMG_0206](https://user-images.githubusercontent.com/3988026/186088282-f4f75d61-fa94-4061-8b49-484b8da1be26.jpeg)
![IMG_0207](https://user-images.githubusercontent.com/3988026/186088318-96211801-52ae-4b80-ae78-bed447ced470.jpeg)

Made my first two parasites with an [Ibex antenna](https://www.amazon.de/gp/product/B07DC97PMY/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1). Used the [E73-2G4M08S1C

[2022-08-23 07:15] SystemFuchs commented on #46
Hi @mjeanrichard,

didn't do any measurements until now. How can I measure the power consumption of a parasite?

[2022-08-24 13:33] NathanSweet commented on #33
Would an aluminum PCB work?

[2022-09-05 10:01] Hedda opened #54 "Consider switching to nRF52840 based module like Ebyte E73-2G4M08S1C instead to also allow Zigbee and Thread firmware?"
Please consider switching to nRF52840-based module like Ebyte E73-2G4M08S1C instead to also allow Zigbee and Thread firmware?

https://www.ebyte.com/en/product-view-news.aspx?id=445

https://www.ebyte.com/en/new-view-info.aspx?id=299

https://community.element14.com/members-area/personalblogs/b/blog/posts/trying-out-the-chengdu-ebyte-nrf52840-module

Alternatively could use nRF52840 based radio mo

[2022-09-06 14:17] jhbruhn commented on #54
This project is using exactly that module, or optionally the E Variant with an nrf52833 MCU.

[2022-09-07 11:08] Hedda commented on #54
Ah, cool, I thought it used the E73-2G4M04S1B which is based on nRF52832 so only supports Bluetooth and not Zigbee or Thread.

https://www.ebyte.com/en/product-view-news.html?id=243

So you think it would be possible to provide optionally Zigbee and/or Thread firmware images as alternative to Bluetooth? See:

https://community.home-assistant.io/t/zigbee-flower-sensors-for-soil-moisture-light-tempe

[2022-09-08 10:40] Hedda opened #55 "Consider redesign board for CR2477 or CR2450 battery instead of CR2032?"
Suggest re-design board with battery-clip/battery-holder/battery-retainer for CR2450 or CR2477 batteries instead of CR2032 batteries?

* CR2477 is 24 x 7.7 mm in size and usually has about 1000 mAh of capacity on average.
* CR2450 is 24 x 5.0 mm in size and usually has about 550 mAh of capacity on average.
* CR2032 is only 20 x 3.2 mm (coin cell size) but only has 200 mAh average capacity.

Altern

[2022-09-09 10:53] rbaron commented on #55
I'm fairly happy with the CR2032. They're cheap, small, available everywhere and can be made to theoretically last a over couple of years.

You are of course free (under CC BY-SA) to redesign the board to better suit your needs.

[2022-09-09 10:53] #55 closed

[2022-09-09 10:55] rbaron commented on #54
Yes I believe it would be possible.

[2022-09-09 10:55] #54 closed

[2022-09-09 13:27] Hedda opened #56 "Feature request of a Zigbee (Zigbee End Device) firmware image for b-parasite"
I like to request an optional Zigbee firmware image for b-parasite which could be used as an alternative to the Bluetooth firmware:

https://community.home-assistant.io/t/zigbee-flower-sensors-for-soil-moisture-light-temperature-humidity/272803/

At least the nRF52840 SoC used by Ebyte E73-2G4M08S1C radio module could support Bluetooth, Thread, and Zigbee 3.0 stacks:

https://csa-iot.org/csa_produ

[2022-09-09 14:18] #20 closed

[2022-09-09 14:25] #48 closed

[2022-09-09 14:32] rbaron commented on #56
This is not something I plan on working on myself. I will leave this issue open for a while in case someone is interested in taking a stab at this.

[2022-09-09 15:02] Hedda commented on #55
OK, but FYI, CR2450 and CR2477 are also very inexpensive and commonly available almost everywhere today, so a 10-pack of either CR2450 or CR2477 costs less than $10 US-dollar now so please do not let price per battery play a major role in your decision, see example:

https://www.google.com/search?q=CR2450&tbm=shop

https://www.google.com/search?q=CR2477&tbm=shop

https://www.amazon.com/s?k=CR2450

[2022-09-09 15:17] Hedda commented on #46
Tip! With it using 2.4GHz you should normally make such monopole antenna length ~ 31.23mm long unless you know that the firmware is tuned for an antenna non-standard 2.4GHz length, and preferably use a 1mm diameter wire.

Recommend search on Google for "Monopole Antenna Calculator" (and "Dipole Antenna Calculator" if prefer such an antenna design instead)

[2022-09-10 13:58] jhbruhn commented on #56
I believe the hardware would have to be extended for a useful ZigBee implementation, e.g. a pairing button. Or can we do without that?

[2022-09-10 14:53] rbaron commented on #56
@jhbruhn I don't have a lot of experience with Zigbee other than pairing some Ikea lights, but some ideas for workarounds:
1. Double/triple/n-resets put the device into pairing mode. I think Ikea does 5-6 resets of light bulbs to put them into pairing mode
2. Using the capacitive pads as a capacitive button (e.g. placing your finger over the pads while reseting)

[2022-09-10 18:56] Hedda commented on #56
Some other battery-powered Zigbee devices without a button just enter into joining/pairing mode for a set amount of time (usually 1 or 2 minutes) every time you remove and replace the battery, unleas of course the device has already been joined/paired to a Zigbee gateway/hub.

Harder to come up with a good process for performing a factory reset without a button as normally you have to remove and r

[2022-09-11 15:18] rbaron opened #58 "BLE 5 Long Range / Coded PHY"
BLE 5 introduced a new PHY - the Coded PHY - which extends the range of BLE at the expense of data rate and current consumption. For b-parasite, data rate is not very relevant, as we only need a few bytes every few minutes.

[This article for Nordic](https://devzone.nordicsemi.com/nordic/nordic-blog/b/blog/posts/testing-long-range-coded-phy-with-nordic-solution-it-simply-works-922075585) finds tha

[2022-09-18 14:48] jhbruhn opened #59 "BTHome does not include Illuminance Measurements"

[2022-09-19 16:33] rbaron commented on #59
That's nice that you used BTHome. How was the experience so far?

Yes, unfortunately there wasn't enough space in the advertising packet for all sensors in this first implementation. We have a few bytes left in the [BTHome encoding](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/src/prst/ble.c#L206), but I'm reserving those to add a counter/packet ID for deduplication if needed.

F

[2022-09-19 17:06] jhbruhn commented on #59
Ah sorry, I was going to make the description more descriptive, but the message is clear anyways.

I really like the proposition of BTHome, that's why I flashed all my devices with BTHome enabled. Currently there is a bug (https://github.com/home-assistant/core/issues/78702) which is marking the sensors as unavailable to quickly, but in general it is working.

I modified the firmware to also trans

[2022-09-19 17:15] jhbruhn commented on #59
Had another look at my code, and I am using exactly 20 bytes with the illuminance data added. To add a packet_id, we need another 3 bytes.

We could gain two bytes by reducing the precision of the humidity and moisture to 8 bit which IMO is enough for the percentage values, especially the moisture. Perhaps the battery voltage could also be reduced to 8 bit? Might be too imprecise though. Or we cal

[2022-09-19 21:03] rbaron commented on #59
The whole packet must have at most 31 bytes. I've noticed the SDK encodes the adv elements like flags + service data + name (`"prst"`). If the service data is too big, the name starts to get chopped off. Setting [PRST_BLE_DEBUG](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/config/prst_config.h#L29) to 1 lets us see the final packet and this behavior.

For BTHome, reducing the pre

[2022-09-19 22:46] Atomicbeast101 commented on #43
Is there a guide on getting the softdevice firmware compiled? I suspect the way to do this with the ESP32 option is first flash the softdevice firmware using 0x0 address and then flash the b-parasite firmware on 0x27000?

[2022-09-19 23:47] chucknorris101 commented on #43
Thus far the only guide is that the softdevice can be flashed to 0x0 but it needs to be the 0x0-0x26FFF file above. The softdevice bin alone doesn't seem to flash with esp32.

Even then getting the softdevice loaded doesn't seem to let you load program straight to 0x27000 but maybe someone more technical might know why. Something the nrfjprog command does seems to modify the output bin to somethin

[2022-09-20 14:53] jhbruhn commented on #59
A more complicated but IMO very efficient would be to, only for values which are a percentage like humidity, use a different factor for every integer-size, to normalize the full scale value to the resulting value.

E.g., for a size of uint8_t, the factor is 1/255, for uint16_t the factor is 1/65535 and so on. Thus we can encode percentages with the highest precision available for the values.

[2022-09-20 16:46] rbaron commented on #59
Hey @Ernst79 thanks for joining the discussion and for your work on BTHome.

To clarify, I mean the whole payload can be 31 bytes. With the current implementation, we're at 29 bytes. [Here's](https://gist.github.com/rbaron/e86e46a55a791e20931a91683354af2a) an annotated sample payload. You're also right, many BLE devices encode much more data in one of the two ways that I know of:
1. Using scan req

[2022-09-20 18:59] Ernst79 commented on #59
Regarding your last point, I understand what you are saying. but is would also limit values to 0 till 100. So you can't have 110%, which makes sense for humidity and battery, but for most other sensor types, it doesn't.

What we also can do, is just adding another data type - factor combination. So, we have one for two byte values with factor 0.01, and one with 1 byte value with factor 1. As it is

[2022-09-20 19:00] jhbruhn commented on #59
That would also be the most backwards-compatible approach - I like it.

[2022-09-20 22:29] Atomicbeast101 commented on #43
Makes sense. You mentioned earlier you had success with the devkit, mind sharing what model that is and possibly a guide on how to work with it?

[2022-09-20 23:04] chucknorris101 commented on #43
Yea, the one I have is the NRF52840-DK But I suspect any dev kit from them with the embedded jlink would work. It's all about getting the jlink.

As far as a guide, I can try to lay it out including things that may not be necessary but may have solved some background dependencies without me knowing. I had previously set up nrfutils toolchain, but not sure it's needed. I also installed the nrf conn

[2022-09-25 19:49] Metus88 opened #60 "Questions: Can I use E73-2G4M08S1EX to replace out of stock E73-2G4M08S1C on JLCPCB website?"
I read [here](https://github.com/rbaron/b-parasite/issues/54#issuecomment-1238216780) , [issue54](https://github.com/rbaron/b-parasite/issues/54) that maybe it is possible use variant with `E` (https://github.com/rbaron/b-parasite/pull/13#issue-986752540)

- Someone can confirm me that it is compatible also with **E73-2G4M08S1EX**  ?
- I have to buy also a external antenna or is it optional? (mayb

[2022-09-26 06:43] rbaron commented on #60
I haven't tried it myself, but @SystemFuchs [used the CX version](https://github.com/rbaron/b-parasite/issues/46#issuecomment-1222431433) successfully.

I took a quick look the datasheet of the EX and comparing it with the E, it seems like it should work, except the pin assignment looks equal to the C version. The only practical difference is pin 2, which the E version connects to the P0.25 and th

[2022-09-26 07:38] #60 closed

[2022-09-27 16:34] Metus88 opened #61 "Advice/help to Build the Code firmware"
I have a problem following the [Wiki](https://github.com/rbaron/b-parasite/wiki/How-to-Program#configure-build--flash-it) because I'm not usual to compile/build/make firmware... (my fault not of the wiki)
I'm using windows10 64bit with visual studio code and I can install all extension you want/need.

Following the wiki steps:

- [Download and Extract SDK ](https://github.com/rbaron/b-parasite/wik

[2022-09-27 20:27] rbaron commented on #61
Hey @Metus88,

Unfortunately I have never build/flashed the firmware from a Windows computer, but I will try my best to give some pointers/ideas.

**Compiling the firmware**
I don't know what the nRF52 toolchain for Windows looks like, but I imagine our Makefile would have to be adjusted if you want to compile on Windows.
Compiling should be easier with WSL/MinGW (although I have never used it), D

[2022-09-27 20:47] drspangle commented on #61
@Metus88 I strongly recommend using WSL if you can. Doing this with a Windows toolchain will be painful and in a VM you might run into issues with USB support (rare, but it's happened to me in a way that results in unexpected behavior when flashing other devices that are similar to the b-parasite).

[2022-09-27 20:52] Metus88 commented on #61
Thanks for your support. I decided to use linux (raspberry). Before I gave up with linux for a strange error but now thanks your dockerfile I understood to install gcc-arm-none-eabi. So I'm trying...

[2022-09-27 22:24] #61 closed

[2022-09-28 15:58] gniezen commented on #19
![IMG_20220923_082431](https://user-images.githubusercontent.com/418233/192825492-a0fddf4d-4a91-48b6-999a-a5a649168648.jpg)

I ordered mine assembled from JLCPCB. They did indeed get in touch to confirm the orientation of photodiode Q4. I used a MHP30 mini hot plate to attach the E73-2G4M08S1C (that I bought from eByte's AliExpress store). I then soldered on the MY-2032-05 battery clip by hand.

I

[2022-09-28 18:09] rbaron commented on #19
Hey @gniezen, thanks for sharing, that looks great.

About the increasing readings, we discussed it in [this comment](https://github.com/rbaron/b-parasite/issues/2#issuecomment-839928191) and [this issue](https://github.com/rbaron/b-parasite/issues/50). The tl;dr is that we think it has to do with water creeping into the board, and applying a layer of coating helps, which I highly recommend -- see

[2022-09-29 10:39] gniezen commented on #19
@rbaron Ah, that makes sense! Now I'm just hoping you find the time to open-source that PCB rotisserie! :wink:

I forgot to mention that I'm using the new BTHome integration, and it was so nice and easy to set up. Now waiting on some ESP32 boards so that I can set up [Bluetooth Proxies](https://esphome.github.io/bluetooth-proxies/) all around the house. I'm also hoping that they'll fix the Unavail

[2022-09-29 21:13] rbaron opened #63 "Open source the rotisserie / drying jig"
A while ago I built this extremely questionable spinning jig to try and get the coating layer to dry more uniformly:

![rotisserie](https://user-images.githubusercontent.com/1573409/193142550-da63a2c3-0d00-4ff0-b116-d701a494ab44.jpg)

I wrote about it in [a twitter thread](https://twitter.com/rbaron_/status/1491467468996431873) and to my surprise more people wanted to join in on the fun. Fair warn

[2022-09-29 21:25] #63 closed

[2022-09-29 21:32] rbaron commented on #19
@gniezen Happy to hear the BTHome integration worked out of the box. Home Assistant folks will be happy to hear that too.

I just pushed the design files for the rotisserie [here](https://github.com/rbaron/b-parasite/tree/main/experimental/rotisserie). Disclaimer - I see this more like a silly experiment than anything serious 😜

[2022-10-05 20:11] jhbruhn commented on #59
I just had another look at my local changes: In its current state, the advertisement data can not be 20 bytes long, as the resulting advertisement packet is longer than 31 bytes then, and thus truncating the device name to "pr". Not terrible because the name is only there for beauty-reasons, but perhaps we can save enough bytes with the upcoming BT-Home changes to also support that?

That would me

[2022-10-05 21:21] Ernst79 commented on #59
I’m working on a v2 version of BTHome now, which doesn’t need the name anymore, but will use a adv_info (1 byte) + optional device_id (2 bytes), which is linked to all device info, like name, manufacturer, model, etc. Also, the packet_id isn’t needed (as HA already can decide on its own if the info has changed or not. Moreover, illuminance and humidity with uint8 and factor 1 have been added. I ho

[2022-10-06 07:55] Ernst79 commented on #59
Ah, sorry, I meant moisture (in %), not illuminance. My fault. Illuminance doesn't make sense, I agree

[2022-10-10 09:39] jhbruhn commented on #34
Does someone have these (very nice!) case-files as an .stl file? I don't have access to Fusion 360. Preferably of course as a PR to this repository! :)

[2022-10-12 10:56] Ulrar opened #66 "How to solder nRF52"
Hi,

I realize it's not really about the b parasite as such, but I've done what's suggested in the doc and ordered the board and controller separately. But I've never had to solder something that doesn't have pins before and after trying, it's insanely hard, I just made a huge mess.

Any tips, tricks or links to good tutorial on how to assemble this ?
Also is there a list of the "pins" (pads ?) ac

[2022-10-12 17:06] rbaron commented on #66
Hey @Ulrar, nice to see you here. Thanks for all the work in ESPHome.

Here's some notes on how I solder the nRF52 module on my b-parasites.

## Method 1 - Soldering Iron + Flux
### Step 1. Cleaning
I use a cotton swab and isopropyl alcohol (IPA) both on the PCB's and on the module's pads.
### Step 2. Aligning
This is by far the most crucial step. To align the module with the footprint, I start wi

[2022-10-13 07:04] Ulrar commented on #66
Hey @rbaron,

Thank you very much for the very detailed answer, as usual very much appreciate what you do !

I'll give method 1 a try today or tomorrow and hopefully that'll be that, but if not I'll order a heat gun and try method 2 next week.
I'll report back if and when I succeed, thanks again

[2022-10-15 19:13] jhbruhn commented on #66
Chipping in on this, I previously used method 1 to solder b-parasites, but soldering more than two or three, using method to simplified the process by orders of magnitude and lead to a significantly less frustrating experience, at least in my case. Good luck!

[2022-10-19 07:06] oleo65 commented on #43
I have been following this project for years now and have been successful in flashing the parasite with an inexpensive `nanoDAP` module from `MuseLab`.

In my understanding, every DAP compatible debugging probe should work.

As I am more familiar with python, I chose the way of flashing the `.hex` files with the awesome `pyocd` library.

It comes down to one simple command after setting the librar

[2022-10-19 19:40] jhbruhn commented on #66
I also agree with that. I already thought about increasing their size for my next order to simply soldering, if there is the space.

[2022-10-19 20:32] kenny00111 opened #67 "How to program"
Hi,
Can anyone help me how to program them? I already assembled a few, but I have no idea how to compile the firmware. The readme not much of a help. I will use the E73 2g4m08s1e version chip, and I have Arduino ide.
Thanks in advance

[2022-10-22 12:45] oleo65 commented on #67
I recently went down the road to compile and flash the parasites. There probably are many ways which lead to a successfully flashed device and depend on your knowledge of C toolchains, `make` and your debugging probe.

The various readme files and the wiki has basically all needed information but scattered around and in my experience sometimes hard to understand, if you are not quite familiar with

[2022-10-22 12:59] oleo65 commented on #19
Finally, after following this project for almost two years now, I got my first batch of `b-parasites`. 😍 In the end I learned alot about PCB manufacturing, soldering, chip shortages and even had to reactivate my limited `C` knowledge. Thank you all for this great project and I will hopefully be contributing back to the community in the future.

In the meantime some impressions of already soldered

[2022-10-22 19:52] kzyapkov commented on #19
Someone is :) Since your email is not public, please write to kiril.zyapkov@gmail.com, thanks!

[2022-10-22 20:25] hubikj commented on #19
Hello @oleo65, I am very interested in the fully assembled spare ones. I am from the Czech Republic and I also have an address in Germany, so it should be easy in terms of shipping. Please contact me at hubik.j@gmail.com. Thank you!

[2022-10-23 00:41] TMillesich commented on #19
@oleo65 if there's still a fully assembled and flashed one left i'd be VERY happy to order one!
Greetings from Austria --> mrwho@hallowelt.at

[2022-10-24 06:55] 31670253 commented on #19
Hi @oleo65 , I was wondering of you can maybe answer a few questions regarding the manufacturing of the PCB’s if you don’t mind:
1.) Through who did you order your PCB’s.
2.) How long did you had to wait for them after ordering.
3.) Cost per PCB (+size of batch), can be in your currency will convert.
4.)Lastly Which components did you had to assemble yourself ?

Sorry for asking in this thread, ju

[2022-10-24 11:45] oleo65 commented on #19
Hi Niel,

I ordered at JLCPCB, mainly because the POS/BOM files are tailored for their stash. Once you understand all the aspects needed for PCB ordering and assembly, the overall experience was quite good.

The production time was around 5 days if I recall and then another 6 days for delivery. A lot faster than I expected.

One requirement for me was, that I did not want to solder any of the tiny

[2022-10-24 14:40] Ulrar commented on #66
Hey,

Update on this, I finally got around to trying it out and it seems to have gone better than expected. First time using a heat gun so it did feel a bit like magic, although I probably need to use way more than I originally did.

I was able to then flash it on the first try, surprisingly, but HA isn't picking it up.
Not sure if it's something to do with bluetooth_proxy or if I've got something

[2022-10-24 15:19] agners commented on #66
@Ulrar if you want it to pick up automatically you need to use the BTHome protocol, afaik.

[2022-10-24 15:26] Ulrar commented on #66
I have changed the define to use it yes, I think there's some kind of issue before that.
The LED never turns on even though I've enabled it, and with all the debug defines enabled that's all it outputs :
[code]
Then it just stays stuck on that forever it seems, until I reset it by force. Looks like it might be crashing ?
I've lowered the deep sleep to 1 to confirm and it never seems to wake up aga

[2022-10-25 10:47] oleo65 commented on #66
Did you flash the softdevice?

I flashed a bthome one the other day and it got autodiscovered by Home Assistant almost instantly. I used a bluetooth proxy via esphome on an ESP32.

[2022-10-25 11:05] Ulrar commented on #66
Yes, I've flashed the soft device and the b-parasite code multiple times with no errors. The LED never flashed, and it consistently hangs on the log message above, never waking up until I reset it myself.

Not sure if that means there's an issue with the firmware / chip itself, or if a soldering issue could cause this. I'll have to try it again with a different board and chip

[2022-10-25 18:30] 31670253 commented on #19
Thank you @oleo65 for your fast reply, I saw that the microcontroller is a bit pricey, One could rather go for a Zigbee chip alternate, which I discovered on Github, https://github.com/smartboxchannel/Plant-Watering-Sensor-Zigbee, because of its range advantage... Anyways, thanks for the information.

kind regards

[2022-10-25 18:33] 31670253 commented on #56
https://github.com/smartboxchannel/Plant-Watering-Sensor-Zigbee , one can have a look at this project for guidance maybe.

[2022-10-25 22:15] kenny00111 commented on #67
Hello, thanks for the detailed answer. I actually find an other way to compile and program before I read your comment.

I will share maybe it will be a help for someone. I used Win 10 for the entire process

- Step 1:
Download & install MinGW-arm-eabi
- Step 2:
Download & install GNU Arm Embedded Toolchain: 9-2020-q2-update
- Step3: Add to the system enviroment variables:
  - MinGW-arm-eabi-11.1.0

[2022-10-25 22:15] #67 closed

[2022-10-25 22:19] kenny00111 commented on #67
Yes I have almost forgotten:
Does anyone has a problem with the esp32 ble tracker? For me it can handle max 3/4 parasites before the esp stops transmitting the mqtt messages.

[2022-10-26 08:20] Ulrar commented on #66
That was it, placed the soldering iron on both for a couple of seconds and it's now working perfectly, spot on.

Once again thanks for your work and your help, very much appreciated!

[2022-10-26 08:20] #66 closed

[2022-10-30 16:56] stanvn commented on #56
I have created a [repository](https://github.com/stanvn/zigbee-plant-sensor) with my application for Zigbee. @rbaron I hope you don't mind that I added references to your project, if so please let me know.

[2022-10-30 18:42] rbaron commented on #56
@stanvn , That's pretty cool! I will give it a try soon. I'm happy to onboard this alternative firmware under `experimental/` if you feel like contributing. Also happy to add a push button to the hardware so it's more convenient.

[2022-11-01 21:20] Pferdebockwurst commented on #19
Hey Ole, I am from Germany and I'd really like to buy a couple of sensors. I'd be happy if you would reply soon 🙂

[2022-11-02 07:12] Ernst79 commented on #59
@rbaron We have just released BTHome V2. some important changes that could be helpful for b-parasite are
- the length and format byte in each measurement is removed, length and format are now fixed. This saves 1 byte each for each measurement. Drawback is that you have to stick to the format and number of bytes, as given in the table on the website. In case it does not meet your needs, we can add

[2022-11-04 07:19] rbaron commented on #59
@Ernst79 thanks so much for the heads up, these decisions sounds like a really good step forward. I will update the encoding on our side. Thank you!

[2022-11-04 07:51] Ernst79 commented on #59
The service load should be a lot shorter now, so perhaps enough for humidity and battery (or something else) with more precision. In case you miss a certain format, let me know.

I'm working on the HA update now, should be ready soon.

[2022-11-04 13:37] letshin commented on #67
@oleo65 Hi - I tried your suggestion of using pyocd and am getting this error. Do you know what this might be please

"
[code]

"

[2022-11-04 15:36] oleo65 commented on #67
There seems to be some kind of issue with your debugging probe or wiring. Since I am not an expert there I don't have a solution for you.

The issue to me does not seem to be related to the b-parasite in general. 🤷

[2022-11-04 23:10] letshin commented on #67
No problem. Thanks for replying. I'm getting a CMSIS-DAP to see if this works instead of the Jtag.

[2022-11-06 00:12] pvvx commented on #59
All the necessary information can be conveyed by several advertisements. Sequence.
This is how many Xiaomi-Mijia-BLE and custom firmware for thermometers work.
A Xiaomi-Mijia typical sequencing of data transmission in turn over 4 advertisements events.

[2022-11-06 01:12] pvvx commented on #58
LongRange (Coded PHY) works in HA from USB-BT RTL8761B.
But not all options.
The BLE standard provides for the reception of generic advertisements in the Coded PHY. But this option does not work - there is no support in many OS.
It also doesn't work when extended advertising send the header to the Coded PHY on the main channels. This is also a defect of software manufacturers.

https://www.home-as

[2022-11-06 02:52] pvvx commented on #17
![image](https://user-images.githubusercontent.com/12629515/200151655-3261ffc2-f754-4444-8061-057d18c5d5c5.png)
The duty cycle of the PWM is tuned for the DC component of the voltage drop across the diode.

For real example (Soc:TLSR8253), set the PWM parameters to 1/12. Those. cycle = 12 periods 24 MHz, of which 1 period is an impulse. Total frequency over the period - 2 MHz. Pulse envelope - 12

[2022-11-06 13:51] kzyapkov commented on #43
I was able to use a [blackmagic probe on a cheap "Black Pill v2"](https://github.com/blackmagic-debug/blackmagic/tree/main/src/platforms/blackpillv2) to flash a Zephyr-based firmare on the b-parasite. The BMP even supports [RTT](https://github.com/blackmagic-debug/blackmagic/blob/main/UsingRTT.md) which works as a log backend.

There isn't much to it -- just follow the official instructions. I can

[2022-11-08 16:45] jhbruhn commented on #63
How in-sync are the stl-files with the device on the picture you posted? I am trying to build a rotissierie but my moter seems to have a smaller radius than the one you used, could be AliExpress randomness-factor though. But it seems that in the picture, the case has an additional box between the cases body and the gears which could lead to a better fitting motor. Or is the motor held in place by

[2022-11-08 17:16] rbaron commented on #63
I think they are pretty much in sync. Did you check the [gear_motor.stl](https://github.com/rbaron/b-parasite/blob/main/experimental/rotisserie/gear_motor.stl) (which is different from [gear.stl](https://github.com/rbaron/b-parasite/blob/main/experimental/rotisserie/gear.stl))? The `gear_motor.stl` has a notch and is a tight fit with the motor axis.

I just measured my motor and the axis is 4mm, t

[2022-11-08 17:39] jhbruhn commented on #63
Yes, I meant the body of the motor itself, not the motors axis.

[2022-11-08 17:50] rbaron commented on #63
![rot1](https://user-images.githubusercontent.com/1573409/200638722-c56e5d40-10c2-4e74-847c-da5bf8828abc.jpg)
![rot2](https://user-images.githubusercontent.com/1573409/200638762-d5b6cfd2-56be-4e54-a347-ea900ea2cc97.jpg)

Do these help?

[2022-11-08 18:01] jhbruhn commented on #63
Yes, thanks. Perhaps I am missing something, but is that connector between the motor and the other axes missing from the repo?

[2022-11-08 18:20] rbaron commented on #63
You're right! I just added it to the repo as `base.stl`.

[2022-11-08 19:48] jhbruhn commented on #63
Thanks!

[2022-11-09 15:05] chucknorris101 commented on #43
@kzyapkov i think there definitely would be interest, though i know when i was looking even black magic probes were harder to come by. 'zephyr based firmware' is over my head, im sure others may feel the same

@jrhbcn I think the first link references 'jtag' which should hopefully allow it to use the 'jlink' ecosystem setup which is pretty seamless once setup. I think other options SWD/etc have be

[2022-11-09 21:15] kzyapkov commented on #43
I don't own an original BMP either, they seem to be unobtainable. However, ports exist for many cheap boards, see the [supported platforms](https://github.com/blackmagic-debug/blackmagic/tree/main/src/platforms) in the code, each comes with instructions. I think Black Pill a good option these days. The first answer to this issue has a link to a good walkthrough, there are many other articles on th

[2022-11-10 18:24] jrhbcn commented on #43
I agree. However, I am not sure of the right Muse Lab board as they have several very similar to each other. Let's see if @oleo65 can see these messages and clarify it.

Regards

[2022-11-11 08:41] oleo65 commented on #43
Ok, this might be a little bit confusing with all the names. 😇

I own a probe called `nanoDAP` (at least that's what is printed on the PCB) from muselab-tech.com which I ordered directly via their aliexpress shop. In the store it is confusingly named `Mini DAPLink`. I suppose that's price you pay being lost in translation somewhere between Chinese, English (and in my case German)🤷

I specifically

[2022-11-11 09:09] Hedda commented on #56
For discussion and reference;

Another possible use-case example could be that someway might want to consider making a single multi-protocol firmware image that would is compatible with Bluetooth Low Energy (BLE), Zigbee, and Thread/Matter (OpenThread).

E.i. a single firmware image for nRF52840 so users have the option to use several radio protocols, but only one at a time.

I believe that with t

[2022-11-11 11:35] jrhbcn commented on #43
Just a question @kzyapkov. Do you flash the b-parasite firmware the same way as the softdevice? Do you just change the `export HEX_FILE=` filename for the b-parasite hex once compiled? Or do you use the `mergehex` tool to first join both softdevice and firmware into a single hex and then flash?

I am thinking on trying first this way to flash my b-parasites on the way from jlcpcb as there is no ch

[2022-11-11 11:50] 1technophile commented on #43
For information, I flashed with a Black Magic Probe. Prior to flashing, I merged the b-parasite firmware with the softdevice using `mergehex`.

[2022-11-11 13:10] oleo65 commented on #43
I flashed them separately without merging in advance with no issues.

[2022-11-11 13:35] 1technophile opened #70 "advertising while in deep sleep"
Hello,

Thanks for this project. Your PCB and firmware worked well after the soldering of the nRF52 and the flashing step! The most difficult part was the flashing for me.

Once done got directly the data from [OpenMQTTGateway](https://docs.openmqttgateway.com/) and [TheengsGateway](https://gateway.theengs.io/):
[code]
Also, the auto-discovery created the sensor automatically into HA, great !

I f

[2022-11-11 18:46] rbaron commented on #70
Happy to hear things worked.

There are [two states](https://github.com/rbaron/b-parasite/blob/main/code/b-parasite/src/main.c#L21) the app can be in:
1. Advertising [while in "sleep"]: it means the application is not running, but the radio is on, broadcasting adv packets every [30 ms](PRST_BLE_ADV_INTERVAL_IN_MS). The application is in this state for [PRST_BLE_ADV_TIME_IN_S](https://github.com/rb

[2022-11-12 02:31] ZehelSitchel opened #71 "Flashing b-parasite more than once using GDB"
I flashed 4 b-parasite boards with the same firmware. Meaning that they all have the same MAC address. Realizing my mistake I edited the prst_config.h and changed the mac from f0:ca:f0:ca:01:01 to f0:ca:f0:ca:01:02, f0:ca:f0:ca:01:03, and f0:ca:f0:ca:01:04. Unfortunately GDB doesn't seem to pick up the board anymore.

When the board is blank I ran the below to flash the boards.

When trying to ref

[2022-11-12 23:56] evlo commented on #3
after uploading gerber lot of the parts are not placed
![image](https://user-images.githubusercontent.com/8813196/201499220-7667e7d3-8bce-46a4-bf20-17827b76d69b.png)
![image](https://user-images.githubusercontent.com/8813196/201499227-7dc2c073-cde6-4ddd-acd1-a80bc090811a.png)

I went by the guide uploaded bom and th topthing, but i think I must did something wrong.

[2022-11-13 04:44] ZehelSitchel commented on #43
@kzyapkov I would love a write up for using the BMP.

I used WSL Ubuntu to compile the code and Windows to flash my b-parasite boards with the GDB toolchain. But I would like to reflash them to assign different MAC addresses and do it via Ubuntu. Mostly because I can't get GBD to see the b-parasites after the original flash.

[2022-11-14 03:12] dannyjim-ml opened #72 "Missing Components in Current BOM"
The current BOM is missing entries for U2, U3, R3, R5, and C6 which means they do not get populated when ordering from a fab, is this intentional? Still wrapping my head around the sensor design and was looking to order some when I caught this, thanks for your work!
![image](https://user-images.githubusercontent.com/57722475/201567215-810230a3-fc37-4232-baa6-ebe5953707af.png)

![image](https://use

[2022-11-14 07:48] #72 closed

[2022-11-14 07:49] rbaron commented on #3
@evlo that was a mistake from my side. I reverted the offending commit on the main branch.

[2022-11-14 07:50] rbaron commented on #72
That was a mistake from my side. It should be fixed now.

[2022-11-14 16:58] evlo opened #73 "Wall moisture capacitance measurement?"
This is not an issue, but I wonder if I place the sensor on the wall, could it measure wall or at least wall surface moisture content?

I know there multe wall humidity / moisture measurement method and devices, the basic ones are
- resistance - with two prongs that is pretty much useless
- **capacitance** - with ball at the end
- microwave etc. I don't care really - super expensive devices, proba

[2022-11-14 17:13] evlo commented on #19
@oleo65 do you still have some that are already in EU and with firmware on available for shipping to Czechia?

@31670253 I would not really recommend zigbee because of it's pairing issues etc. But obviously, everyone has their own experience, I do have much better results with bluetooth + esp32 BLE-wifi gateways.

[2022-11-15 15:20] Ernst79 commented on #59
Just a heads up. BTHome V2 is merged into Home Assistant dev, so you can expect it to be included in the 2022.12 release.

[2022-11-17 13:03] oleo65 commented on #19
@evlo Yes I do. Please contact me via E-Mail on my public profile.

[2022-11-17 20:18] rbaron commented on #59
Tks for the heads up @Ernst79 👌

[2022-11-21 16:30] nielsfaber opened #74 "4 layer PCB version as alternative for coating"
I'm very interested in this project.
I have a couple of MiFlora's, but they have not proven to be reliable for me, so I'd like to try a different approach.

I was wondering if any considerations or attempts have been made to use a 4 layer PCB instead.
This would allow the copper pads for moisture measurement to be placed on the inner layers of the PCB, sandwiched between (bare) FR4.
To me it seems

[2022-11-21 17:06] nielsfaber commented on #55
I agree with the proposal of @Hedda

CR2032 clip footprint (the one that is recommended):
![image](https://user-images.githubusercontent.com/16861605/203114393-056331c4-e89e-479b-b5e7-87bfdd3b6aa0.png)

CR2450 clip footprint (random one from aliexpress):
![image](https://user-images.githubusercontent.com/16861605/203114467-a6c2cc98-5933-493b-ab47-841d7857625c.png)

By increasing the spacing betwee

[2022-11-23 08:28] nielsfaber opened #75 "Clarification about E73 module PCB footprint"
When opening the PCB file of this project in Kicad some conflicts show up regarding the pads underneath the E73-2G4M08S1C module:
![image](https://user-images.githubusercontent.com/16861605/203499565-13ad9510-f814-4db3-8bf0-5d1fe4ca4286.png)

It seems the inner pins (shown in gold) are not used and left unconnected in this design.
However they should be avoided by other traces as this creates shor

[2022-11-23 17:45] rbaron commented on #75
Good observation. In practice I think the solder mask should provide enough insulation. In the worst case, if that fails, these bottom pins (except 24 which is ground) are not used and left in a high impedance/disconnected state, which I _think_ should also be okay. I removed the bottom pads from the footprint to make routing on a 2-layer board feasible - the big battery pad on the back copper lay

[2022-11-24 18:58] nielsfaber commented on #75
Thanks for the explanation.
I understand your design choices, it's in line with what I expected, and I can live with them 🙂

[2022-11-24 18:58] #75 closed

[2022-11-25 14:57] jrhbcn commented on #43
Hello,

Just to confirm that I have been able to compile and flash the parasite firmware using a cheap blackmagic probe clone  (bluepill STM32F103C8T6) following the steps highlighted by @kzyapkov and @1technophile. I have my first b-parasite running yes!!! (was quite difficult to solder the nordic chip with my soldering skills, result is not pretty but seems to work!).

I can create better detail

[2022-11-25 21:43] 1technophile commented on #43
@jrhbcn I'm working on a tutorial for information. I will share it here once done. Should be in a few days.

[2022-11-25 22:12] 1technophile commented on #70
Thanks for this information. I got the advertisements when in "sleep" with the main branch.

If we wanted to have a behavior like the Mi Flora or other environmental sensor in terms of BLE advertisement with a battery that last months (or years :-)), what do you think could be the adequate parameters?
An example could be an advertisement in sleep every 30ms, a measurement of the sensors every 10 m

[2022-11-25 23:06] rbaron commented on #70
That's hard to say. It's all tradeoffs between power, range, discoverability.
For continuous advertisement, you can try lowering the advertisement interval and tx power. Maybe do "continuous" for a couple of minutes and then sleep for some.

My mental model is that continuous advertising makes sense when the device is connectable and lets humans interact with it. b-parasite  is much simpler, and j

[2022-11-26 00:22] 1technophile commented on #70
I get your point, it makes sense as a default behavior for automated scanners.
I will play with the parameters and see what can be done to have it picked up easily by the app, while keeping power consumption low.

[2022-11-26 07:02] #70 closed

[2022-11-26 15:51] jrhbcn commented on #43
@1technophile great!! Let me know if you want me to help you in any way (maybe adding macos specific instructions if you haven't used that platform).

[2022-11-26 21:00] 1technophile commented on #43
Here is the tutorial, on macOS also ;-)
https://1technophile.blogspot.com/2022/11/playing-with-b-parasite.html

I can add it to the wiki also if @rbaron wants.

On another note, I think it could be interesting to activate the discussions module of the project as most of the issues here are more discussion oriented.

[2022-11-27 10:01] jrhbcn commented on #43
Nice tutorial @1technophile, the only thing missing for my case/steps is that I used a bluepill as a cheap clone replacement of a proper black magic probe and had to first install the BMP firmware (my step 1) in it using yet another board (stlinkv2). The rest is exactly the same! Regards,

[2022-11-30 18:37] rbaron commented on #59
Quick update: I'm working on rewriting the code to use the nRF Connect SDK in #76, and I added support for both BTHome v1 (tested) and BTHome v2 (untested yet).

I also implemented the custom b-parasite BLE protocol for backward compatibility, but I'm finding BTHome + `bluetooth_proxy` so convenient that I'm migrating my b-parasites to it 👌